[2019-04-03 21:40] h1cks opened #1 "Scope of SharpWindows"
Hi, I know you have limited the scope to just the Core Direct X 11 and 12 capabilities.  Just wondeirng if once you have completed your initial goals you would consider Direct Input XAudio later?  May want to contribute at some point seeing that Sharpdx is done.  At that you are using Numerics instead of rolling your own.

Happy to discuss.

[2019-04-04 06:34] amerkoleci commented on #1
Hi,
As I described on SharpDX issue, I plan to have modern API first, using of System.Runtime.CompilerServices.Unsafe and System.Numerics.Vectors and shared mathematics library which I'm using in my game engine as well (https://github.com/amerkoleci/Vortice.Mathematics), once I have good D3D11 and D3D12 (which I'm almost so far), I can add XAudio, DirectInput etc

[2019-04-04 07:10] h1cks commented on #1
Well happy to look into it and assist if you're happy for contributions on that front.  Talk sometime.

[2019-04-04 09:55] h1cks opened #2 "SharpDirect3D12.IsSupported needs to release nativePtr"
Ran the HelloDirect3D12 example, was failing when creating the device.  Checked the code, found that the IsSupported function was failing to release the native ptr.

Added the following code.

`          var device = new ID3D12Device(nativePtr);

                device.Dispose();`

Have created a pull request in regards to IsSupported.

[2019-04-04 11:08] amerkoleci commented on #2
I fixed this locally, will commit later.

[2019-04-04 11:30] #2 closed

[2019-04-04 20:26] amerkoleci commented on #2
This is fixed in last alpha06

[2019-04-14 18:43] nathan-alden commented on #1
It's so sad that Microsoft doesn't see the potential of investing in a Microsoft-maintained DirectX shim. Then again, they seem not to care about the future of Windows itself much anymore, so I guess I shouldn't be surprised.

Regardless, and despite my busy schedule and my family's needs, I'm interested enough in a replacement for SharpDX that I might be willing to participate. Unfortunately, COM

[2019-04-14 19:57] nathan-alden commented on #1
I did a bit of research and it seems you're using something called [SharpGenTools](https://sharpgentools.readthedocs.io/en/latest/) to presumably efficiently generate wrappers. The issue is, how do I know what to put in the Mappings file? The declarative nature of XML doesn't lend itself to understanding.

If I may suggest: Your contribution guide should introduce experienced C#/.NET developers wh

[2019-04-15 06:44] amerkoleci commented on #1
Hi,
Yeap, SharpGenTools is used and its not that difficult to learn, I agree that C++/CLI would be more handcrafted but even more difficult to maintain and it doesn't work under .NET Core.

You can still digg in Mapping.xml changes and see how bindings works, then SharpGenTools has good documentation for getting started stuff.

[2019-04-19 22:06] h1cks commented on #1
Just to add.  The .NET standard 2.0 support will be welcome.  I just spent the day playing around with the porting of apps to .NET 3.0 -> [porting to .NET 3.0](https://www.youtube.com/watch?v=upVQEUc_KwU&list=LLQgOLROabm_1W6NIsa0koBw&index=2&t=0s) . My game obviously can't move to this because im using the older Sharpdx libraries.  As such, your project becomes even more relevant as SharpWindows b

[2019-04-20 00:39] nathan-alden commented on #1
.NET Core 3.0 is going to be awesome. I think it's a much bigger deal than many folks are aware. It'll be nice to be able to write a .NET Core 3.0 Windows Forms app that uses all .NET Standard class libraries including SharpWindows.

[2019-08-12 13:07] DemoBytom commented on #1
Hello,
I came across this repository from SharpDX, after it was archived.
I was wondering do you plan on releasing it on official NuGet feed, and what is the current state of Vortice.Windows?

[2019-08-12 13:43] amerkoleci commented on #1
I'm using it in my vortice framework, it's next more net standard sharpdx successor, built around net standard libraries and not having own math stuff like SharpDX, it wraps DXGI, D3D11, D3D12, Direct Write and D2D1 so far.

I started adding Audio and XAudio part, won't add any legacy d3d9 or d3d10 parts.

Will publish to nuget soon.

Feel free to ask any further questions if you want.

[2019-08-18 17:37] nathan-alden commented on #1
The 2D engine I've been writing uses Direct2D, Direct3D 11, XAudio 2 and XInput, so it'll be _really nice_ when you've completed your mappings. Can't wait to test them out!

[2019-08-18 17:38] nathan-alden commented on #1
@amerkoleci Any chance you could do a small write-up on how you improved the architecture from SharpDX, specifically around the use of new .NET Standard primitives? I'd be very curious to hear more. Do you have a Discord or Slack channel I could join?

[2019-08-18 18:22] amerkoleci commented on #1
Hi,
At the moment I'm just implementing stuff that SharpDX had, I would love to finish the XAudio bindings and then will add probably XInput bindings.

As I said above it uses net standard numerics, system.drawing stuff like Point, PointF, Rectangle etc and Interop.Unsafe instead of having IL patching like SharpDX.

[2019-08-21 18:28] nathan-alden commented on #1
@amerkoleci I remember asking you quite some time ago whether you had a guide I could use to help create bindings. I'm willing to spend some time on this but generating COM bindings is not my specialty. Would be nice to chat somehow to learn the ropes. :)

[2019-08-21 19:22] nathan-alden commented on #1
FWIW, I did successfully get SharpGenTools to generate files given a C++ header (I used `d3dcommon.h`) but it looks like your codebase consists of far, far more than just generated code. This will probably prevent me from contributing in any meaningful way.

[2019-08-21 19:27] amerkoleci commented on #1
I think you should take look at shargen sdk documentation, usually I use ilspy to see the compiled assembly and see if generated bindings are good

[2019-08-21 19:52] nathan-alden commented on #1
FWIW, check out this tweet thread from xoofx: https://mobile.twitter.com/xoofx/status/1031645672821469187

I followed the SharpGenTools docs and was able to create some generated code. I suspect that's the _easy_ part, though; from my inexperienced eyes it appears that you're also writing a lot of custom code. That's the part where I'm getting stuck.

Anyway, I really only need XInput support (as

[2019-08-21 19:53] amerkoleci commented on #1
I see,
Soon I plan to add XInput bindings, will keep you updated

[2019-08-21 20:05] nathan-alden commented on #1
Cool, thanks. 👍 Will these libraries eventually be uploaded to nuget.org or will they be on myget, do you think? Just curious.

Do you have a donation link? I can throw a few bucks your way for taking on this project.

[2019-08-21 20:06] nathan-alden commented on #1
Also, take a look here to read about new C# compiler intrinsics (although I suspect this will impact SharpGenTools more): https://github.com/dotnet/csharplang/blob/master/proposals/intrinsics.md

[2019-08-21 20:21] amerkoleci commented on #1
Hi @nathan-alden ,
Probably that need to involve SharpGen, about donation part, write me privatelly maybe or on my email address.

[2019-08-21 20:30] amerkoleci opened #4 "Vortice.Runtime.COM"
Add own Vortice..Runtime.COM based on https://github.com/SharpGenTools/SharpGen.Runtime.COM and have separated updated/improvements.

[2019-08-21 20:38] amerkoleci opened #5 "XInput support"
Add XInput bindings support.

[2019-08-22 19:52] #4 closed

[2019-08-22 20:40] amerkoleci commented on #5
@nathan-alden Initial XInput support has just landed

[2019-08-23 00:32] nathan-alden commented on #5
Where can I get these NuGet packages? I added a package source to your MyGet but no packages show up:
[code]

[2019-08-23 00:34] nathan-alden commented on #5
Never mind; found them! They are prerelease packages.

[2019-08-23 00:39] nathan-alden opened #6 "Where is the Vortice.XAudio2 NuGet package?"
I cannot find the `Vortice.XAudio2` NuGet package in your MyGet feed. I did find a package called `Vortice.Audio` but it doesn't look like that's the right one.

[2019-08-23 01:32] nathan-alden opened #7 "GENERIC_READ and GENERIC_WRITE constants not implemented"
I am attempting to call `IWICImagingFactory2.CreateDecoderFromFilename`, whose third parameter is `int dwDesiredAccess`. According to MSDN, this value can be set to `GENERIC_READ` and `GENERIC_WRITE`, but I am unable to find those constants defined in Vortice.Windows except as private constants in `IWICStream`. I believe SharpDX implemented this method using a [`NativeFileAccess` enum](https://git

[2019-08-23 01:38] nathan-alden commented on #7
I added my own version of `NativeFileAccess` to my project:
[code]
However, I get an overflow error during compilation since the compiler is trying to protect me from automatically converting a `uint` to an `int`. I am using the following syntax to override the error: `unchecked((int)NativeFileAccess.GenericRead)`.

Realistically the method signature should probably be changed to `uint` if possibl

[2019-08-23 01:59] nathan-alden commented on #6
According to the latest build results, it does not appear that `Vortice.XAudio2` is being published. Probably just an oversight.

https://ci.appveyor.com/project/amerkoleci/vortice-windows

[2019-08-23 02:17] nathan-alden opened #8 "Implement the Controller class for XInput"
SharpDX has a controller class: https://github.com/sharpdx/SharpDX/blob/1f89381bc08f2d8cf8d294c6c5fce8dc85a849a1/Source/SharpDX.XInput/Controller.cs

It would be useful to implement this concept in Vortice.XInput.

[2019-08-23 05:44] amerkoleci commented on #6
XAudio is wip and not ready to use atm, will fix it and publish them

[2019-08-23 05:45] amerkoleci commented on #8
I prefer stay more to XInput api, just call XInput GetState, SetVibration etc

[2019-08-23 07:18] #7 closed

[2019-08-23 07:19] amerkoleci commented on #7
This one maps to System.IO.FileAccess and I handle the native conversion, fixed now.

[2019-08-23 09:22] #8 closed

[2019-08-23 12:15] #5 closed

[2019-08-23 22:29] Sergio0694 opened #9 "Any plans for a (preview) NuGet package?"
Hi, first of all I wanted to say great job of picking up where SharpDX left off, this project is looking great so far! I'm working on a project that currently uses SharpDX ([ComputeSharp](https://github.com/Sergio0694/ComputeSharp)) and it looks like Vortice.Windows could replace both SharpDX and DotNetDxc for me (especially DotNetDxc, as it bundles old .dlls and it's not suitable for my use case

[2019-08-24 07:54] amerkoleci commented on #9
Hi,
Of course yes, you can currently use the myget feed and add it into nuget.config, I plan to release soon on nuget the official 1.0.0 version.

I plan to have dxc compiler with all dlls supported as legacy d3d compiler.

Thanks,

[2019-08-24 11:54] nathan-alden commented on #9
@Sergio0694 Create a `nuget.config` file that lives next to your `.sln` file:
[code]
Then, make sure you check the "Include prerelease" check box:

![image](https://user-images.githubusercontent.com/1189759/63636938-57863600-c644-11e9-9e58-0bc7b4157787.png)

[2019-08-24 11:57] Sergio0694 commented on #9
Hey @amerkoleci - thank you for your reply!
That's good to hear, looking forward to the NuGet package!

What do you mean with "legacy d3d compiler"? I mean, why "legacy", I thought those .dlls were the official compiler for d3d shaders? (I might very well be wrong here).
I saw you commented on the [DirectX12GameEngine repo](https://github.com/Aminator/DirectX12GameEngine) by @Aminator (with whom I

[2019-08-24 14:22] amerkoleci commented on #9
Hi,
Yes I plan to support both dxc and d3d compiler (legacy), that will be part of Vortice Shader Compiler.

Will post updates here, as I'm quite busy with my daily job, this is my side project tho :)

[2019-08-24 15:04] amerkoleci commented on #9
I'm from Italy as well, ciao bello :)

[2019-08-24 15:29] Sergio0694 commented on #9
Thank you for the additional feedback, looking forward to the new updates then, and glad to hear I'll be able to replace both packages just with `Vertice.Windows` then, that's awesome 🚀

And yeah I figured this was just a side project for you, I'd say you're doing a great job so far though!
Buona serata! 😄

[2019-08-25 00:22] nathan-alden opened #10 "Incorrect rectangle type used for many APIs"
I ran into an issue during my SharpDX to Vortice.Windows migration: the use of `RectangleF` by mappings. I know this is an issue with at least a few APIs but it's likely the issue is much greater in scope; I just haven't had a chance to use more APIs yet.

For an example, take a look at [`ID2D1RenderTarget::DrawBitmap` documentation](https://docs.microsoft.com/en-us/windows/win32/api/d2d1/nf-d2d1-

[2019-08-25 07:34] amerkoleci commented on #10
Hi,
Yeah, I thought they where mapping to standard Rectangle and Rectangle, will fix it soon, D2D_RECT_U need fix as well.

[2019-08-25 07:35] #1 closed

[2019-08-26 00:42] nathan-alden opened #11 "Are you aware of Tanner Gooding's TerraFX.Interop.Windows?"
Heya, Amer. I found an official DirectX Discord where I asked about whether there was a possibility for officially-maintained bindings from Microsoft. After some interesting conversation, I was pointed to a project maintained by Tanner Gooding from Microsoft called [TerraFX.Interop.Windows](https://github.com/terrafx/terrafx.interop.windows). It appears that he's somehow using the Clang compiler t

[2019-08-26 02:25] nathan-alden commented on #11
FWIW, it seems he hasn't created mappings for XAudio2 or XInput.

[2019-08-26 06:33] amerkoleci commented on #11
Hi @nathan-alden ,
That one looks good althought it doesnt support CallI interop call when calling COM part, so far I prefer the SharpGen generation part, if there are any alternatives I will look further.

Closing now as not really an issue

[2019-08-26 06:33] #11 closed

[2019-08-26 07:16] #10 closed

[2019-08-26 15:43] amerkoleci commented on #9
Hi @Sergio0694,
Vortice.Dxc just landed (https://github.com/amerkoleci/Vortice.Windows/commit/cdd75d017ab5983300c0b5da2769db2a3bc0c830)

[2019-08-26 17:31] Sergio0694 commented on #9
Hey @amerkoleci - that was quick, awesome!
I'll try to move ComputeSharp from SharpDX to Vortice in the next few days then, thanks! 😄

[2019-08-26 17:59] Aminator opened #12 "Wrong majorness in DxcCompiler.Compile"
`-Zpc` is used instead of `-Zpr` when `PackMatricesInRowMajor` is true.
https://github.com/amerkoleci/Vortice.Windows/blob/cdd75d017ab5983300c0b5da2769db2a3bc0c830/src/Vortice.Dxc/DxcCompiler.cs#L31-L38

[2019-08-26 20:43] Sergio0694 opened #13 "Error loading Vortice.Dxc libs (wrong .dll install path)"
Hi, me and @Aminator are currently moving from `DotNetDxc` to `Vortice.Dxc`, and we noticed that the latter copies the two `dxcompiler.dll` and `dxil.dll` files to the wrong directory. Currently, those .dlls are placed under the `runtimes\win-x[64|86]\native` path, but that causes a runtime exception, as the caller of those .dlls is only looking for them next to the entry point of the app.

Right

[2019-08-26 21:12] amerkoleci commented on #12
Fixed now

[2019-08-26 21:12] #12 closed

[2019-08-27 05:54] amerkoleci commented on #13
I'll take a look, the executable assembly is netcoreapp or ne framework executable?

[2019-08-27 07:55] Sergio0694 commented on #13
Hey, thank you for the quick reply!
My executables are .NET Core 3.0, as my library is targeting .NET Standard 2.1.
In case having a repro would help, you can clone the [`feature_vortice-windows` branch](https://github.com/Sergio0694/ComputeSharp/tree/feature_vortice-windows) from ComputeSharp, and try to run any of the sample projects (I tried running the bokeh blur sample).
They all work fine in

[2019-08-27 08:00] amerkoleci commented on #13
Should be fixed now, try the "1.0.0-gea9e6e7273" version and report if it works.

Thanks

[2019-08-27 11:30] Aminator commented on #13
Compiling works now, but it fails when trying to create a pipeline state. Manually putting `dxil.dll` next to the executable fixes this issue. This only appears in .NET Core 3.0, UWP works fine.

[2019-08-27 11:31] amerkoleci commented on #13
Not sure how can I workaround that issue @aminator

[2019-08-27 11:42] Sergio0694 commented on #13
@Aminator wait, why is UWP working though?

@amerkoleci Isn't there a way to make the NuGet package copy that .dll directly to the output folder and not to a subdirectory of it?

[2019-08-27 11:45] Aminator commented on #13
@Sergio0694 Because UWP doesn't copy them to the `runtimes` folder, but instead places them next to the executable.

[2019-08-27 11:56] Sergio0694 commented on #13
Can't that be done always, regardless of target framework?
I mean, from the .nuspec/.targets file or something.

[2019-08-27 12:02] amerkoleci commented on #13
I think yes, not sure why it doesn't work tho, probably need build/netstandard2.0/Vortice.Dxc.targets

[2019-08-27 20:21] Sergio0694 commented on #13
Yeah that sounds like a good idea!
Hopefully that'll solve the issue, we're actually so close now 😄

[2019-08-28 01:20] Sergio0694 commented on #13
Hey @amerkoleci - I tried upgrading to the latest CI build and it works! 🎉
You did a great job, thank you so much for your help!

Just one last small detail: after updating the Vortice.Dxc package I now see the `\binaries` folder in my project, from the VS solution explorer (this happens in my test project as well, not just from the ComputeSharp project itself). I'm wondering if maybe changing [th

[2019-08-28 06:30] amerkoleci commented on #13
HI @Sergio0694,
Glad it worked, The visible is false now.

I will release 1.0.0 official nuget packages today, stay updated :)

[2019-08-28 07:07] amerkoleci opened #14 "Improvements"
- Need to rename projects with better name, for example:
Vortice.DirectX.Direct2D -> Vortice.Direct2D1
Vortice.DirectX.Direct3D11 -> Vortice.Direct3D11
Vortice.DirectX.Direct3D12 -> Vortice.Direct3D12
Vortice.DirectX.ShaderCompiler -> Vortice.D3DCompiler

- Introduce Vortice.DXGI separation.

[2019-08-28 07:15] amerkoleci commented on #13
Nuget packages has been published and on nuget now, please take look at: https://www.nuget.org/packages?q=Tags%3A%22vortice%22

[2019-08-28 07:16] #13 closed

[2019-08-28 10:34] amerkoleci commented on #9
Nuget packages are on, closing now.

[2019-08-28 10:34] #9 closed

[2019-08-28 13:36] Aminator opened #15 "Dxc DLLs not copied to the output directory in UWP"
The issue is that in UWP native DLLs only get copied automatically when they are in the `runtimes/win-(x64 or x86)/native` folder in the NuGet package. So what you can do is put the DLLs in those folders (like you had earlier) and for .NET Core 3.0 add that additional directory with `SetDllDirectory`, so you don't even need a .targets file.

Ideally this is something that either should be done aut

[2019-08-28 14:20] amerkoleci commented on #15
Hi @Aminator ,
UWP is not my primary target, even if some support is there.

Feel free to submit any PR.

Thanks

[2019-08-28 20:08] Sergio0694 opened #17 "Binaries folder visible in projects using Vortice.Dxc"
Hi, this is just a follow up from #13 regarding the `binaries` folder in projects using `Vortice.Dxc`. I see that the `Visibility` property in the .NET Standard 2.0 `.targets` file is now set to `false`, but the folder is still visible in projects using the package.

I'm not really sure why that is or how to actually get rid of this, but I thought I'd let you know just in case, in case you had any

[2019-08-28 21:42] Sergio0694 commented on #17
@amerkoleci nevermind, @Aminator tells me this is already fixes in his #18 PR, perfect 😄

[2019-08-28 21:42] #17 closed

[2019-08-29 01:33] #15 closed

[2019-08-29 12:42] amerkoleci commented on #14
@Sergio0694 @Aminator just to make sure you don't miss this one, I'm renamed and separated the DXGI part in Vortice.DXGI, will release soon on nuget this new naming packages and remove old one.

[2019-08-29 20:39] amerkoleci commented on #14
Fixed with new 1.1.0 release (https://github.com/amerkoleci/Vortice.Windows/blob/master/CHANGELOG.md)

[2019-08-29 20:39] #14 closed

[2019-09-04 09:33] amerkoleci opened #20 "Multiplatform support"
Will add support for **net461** and **uap10.0.16299** using https://github.com/onovotny/MSBuildSdkExtras.
In this way we can have per platform code and Add/Remove methods not supported in UAP in order to avoid certification issues when deploying to store.

CC: @Aminator  and @Sergio0694 if you have any thoughts about this?

[2019-09-04 10:12] Aminator commented on #20
I don't really deem it necessary especially .NET Core on desktop and UWP will become the same in the future. If you want to use WinRT APIs, I would suggest the [Microsoft.Windows.SDK.Contracts](https://www.nuget.org/packages/Microsoft.Windows.SDK.Contracts) NuGet package.

[2019-09-04 10:15] amerkoleci commented on #20
I see, but there are some other differences, for example when creating ComObject, in desktop environment you use CoCreateInstance while in UWP you CoCreateInstanceFromApp, also the XInput logic and Direct2D1 can include the correct implementation.

[2019-09-04 10:33] Sergio0694 commented on #20
I'm afraid I'm not able to add much to the conversation, other than a few observations:
1) I agree with @Aminator that UWP and .NET Core will basically become the same, as UWP will be switching to .NET Core 3.0 (and then .NET 5) in the coming months/years
2) I mean, as long as doing this doesn't break anything, I won't complain 😄
3) Personally I'm not particularly interested in net461, as for some

[2019-09-04 11:35] amerkoleci commented on #20
I see, thanks for reply.

Lot of directx header has the window app partition defined in native side, which is desktop or something else when compiling to UWP, probably removing API not allowed in UWP makes sense.

Won't break nothing just it will generate 3 assemblies per project

[2019-09-04 11:42] Aminator commented on #20
But you will keep a .NET Standard version, right? Because in my game engine I only reference Vortice packages in .NET Standard projects.

[2019-09-04 11:43] amerkoleci commented on #20
Of couse yes, the idea is to have netstandard2.0, net461 and uap target frameworks.

[2019-09-04 18:43] amerkoleci commented on #20
Closed, latest trunk maps compilation per platform and handle differences

[2019-09-04 18:43] #20 closed

[2019-09-04 19:16] Aminator opened #21 "Add type safety to StateObject API"
Currently when using a `StateObjectDescription` you have to provide a pointer for `PSubobjects` and the count for `NumSubobjects` instead of simply a `StateSubObject[]` or ideally `Span<StateSubObject>`.

`StateSubObject` could also be improved, but in this case the `Description` field can be of any type, so maybe just accept an `object` as well, though that would incur boxing.

[2019-09-05 09:03] amerkoleci commented on #21
Initial marshalling landed (https://github.com/amerkoleci/Vortice.Windows/commit/2d32b8ba46bafbcadefce149c942c67060099717), StateSubObject accepts all types allowed now, need just to marshal some other stuff.

[2019-09-05 19:42] Aminator opened #22 "Load dxil.dll in the static constructor of the Dxc class"
I found out that `dxil.dll` didn't need to be loaded while creating a pipeline state but instead before using anything from `dxcompiler.dll`. This is because when compiling it will make a hidden `LoadLibrary` call and if it finds `dxil.dll`, it will sign the shader bytecode, which is important as without it can't be used without experimental mode.

So simply load `dxil.dll` before anything else in

[2019-09-05 19:45] Aminator commented on #21
Looks good. 👍

[2019-09-06 06:46] #22 closed

[2019-09-11 07:25] CAMongrel opened #23 "Incorrect Free in BuildRaytracingAccelerationStructureInputs"
Hi and thank you for your great efforts so far!

There's an incorrect Marshal.FreeHGlobal in BuildRaytracingAccelerationStructureInputs:
[code]

The Union is being declared as such:
[code]

When using the Inputs structure in a top level acceleration structure scenario, you set the instances, when using it for bottom level acceleration scenarios, you set the geometry field, but never both (hence th

[2019-09-11 12:17] #23 closed

[2019-09-11 12:17] amerkoleci commented on #23
This has been fixed now, I plan to rework the logic and handle better scenario.

[2019-09-11 16:35] amerkoleci opened #24 "Handle correct sign type of primitives"
I just committed the fix to avoid mapping from native UINT64 and UINT16 to C# long and short, instead of ulong and and ushort.
I was planning to fix the UINT32 map as well and map to uint instead of int as now.

This commit shows the fix https://github.com/amerkoleci/Vortice.Windows/commit/ea17b5874bdd79486aa6a1e175eab7bc813dafb7

@Aminator @Sergio0694 do you find any issue with this one?

[2019-09-11 16:41] Aminator commented on #24
For .NET usage using signed types everywhere is definitely easier as it avoids unnecessary casts. Also unsigned types are not CLS compliant, but that is only a small detail.

[2019-09-11 16:50] amerkoleci commented on #24
I know, but I'm worried about overflow, fence ulong value is bigger than long, of course not sure when you reach maximum size

[2019-09-11 16:51] amerkoleci commented on #24
https://github.com/mellinoe/veldrid uses uint for width, height etc, not sure which one  is better

[2019-09-11 16:58] Aminator commented on #24
In my game engine I only use signed types and I've never encountered a problem with it. The maximum fence value with a long will be reached when the sun has already turned into a red giant, so...

[2019-09-11 16:59] amerkoleci commented on #24
I agree :) will revert back to signed types and some cleanup then

[2019-09-11 16:59] #24 closed

[2019-09-12 11:52] CAMongrel opened #25 "Memory corruption when marshalling HitGroupDescription"
The CopyMemory call in
`public StateSubObject(HitGroupDescription hitGroupDescription)`
incorrectly uses the size of the IndirectArgumentDescription class causing memory corruption exceptions.

This:
[code]

Should instead be something like:
[code]

[2019-09-12 11:55] CAMongrel opened #26 "Incorrect translation/mapping for D3D12_SUBOBJECT_TO_EXPORTS_ASSOCIATION"
The structure D3D12_SUBOBJECT_TO_EXPORTS_ASSOCIATION, mapped to SubObjectToExportsAssociation, has a parameter "pExports" of type "LPCWSTR*" which has been mapped to a string.
The intention of this parameter, however, is to be an array of strings (see https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ns-d3d12-d3d12_subobject_to_exports_association).

[2019-09-12 11:58] #25 closed, assigned to nobody

[2019-09-13 14:12] CAMongrel commented on #26
I think the main issue is still within SubObjectToExportsAssociation and StateSubObject.

If you look at the code at https://github.com/NVIDIAGameWorks/DxrTutorials/tree/master/Tutorials/04-RtPipelineState the subobjects and their descriptions are cross-referenced everywhere.
I'm absolutely no expert on Marshalling and the magic behind it, but to me it looks like the C# code creates copies of ever

[2019-09-13 14:32] amerkoleci commented on #26
On other side I don't have capable GPU :(
Will try to give better look.

[2019-09-13 14:54] CAMongrel commented on #26
Thanks for your efforts by the way. It's really great that someone is working on the DX12 bindings in this way.
I'll think about it some more, maybe I can come up with something as well.

[2019-09-13 16:02] amerkoleci commented on #26
Initial better interop landed, it currently handles only DxilLibraryDescription, will marshal next one.

Tell me if it works.

[2019-09-14 12:52] CAMongrel commented on #26
The DxilLibraryDescription seems to work fine. However, a StateObjectDescription with only a DxilLibrary doesn't seem to be valid way to create a StateObject. The main culprit was the SubObjectToExportsAssociation anyway and for that I need at least one more class to establish the association to. Preferably the LocalRootSignature.

Some good news though. I wanted to continue with the implementatio

[2019-09-14 13:08] amerkoleci commented on #26
I will try to fix it ASAP the you can continue with implementation and submit your examples somewhere

[2019-09-14 13:47] GeorgeS2019 opened #27 "Example for UWP XAML?"
Can you provide a simple sample creating UWP app with XAML?

[2019-09-14 13:53] amerkoleci commented on #27
I'm your slave or what? Feel free to submit a PR

[2019-09-14 13:53] #27 closed

[2019-09-16 13:28] amerkoleci commented on #26
Marshalled rest of types, can you try please?

[2019-09-17 09:39] CAMongrel commented on #26
Well, the good news is, I've finally got it working without native code, but the bad news is, not directly with your code.

The problems is still within the StateSubObject references, or more specifically how the StateSubObjects are marshalled in the StateObjectDescription passed into "device.CreateStateObject()".
It's pretty obvious if you really look at what the C++ code does and what the Create

[2019-09-17 09:48] CAMongrel commented on #26
By the way, I guess it would be possible to keep the original flow intact (which is more C#-like). That would mean to completely rebuild the structure along with any native references inside the MarshalTo of StateObjectDescription.cs.

[2019-09-17 12:31] nathan-alden commented on #6
Heya, @amerkoleci. I'm curious where this is landing on your roadmap. It's the only thing holding me up from using Vortice in my engine.

[2019-09-17 13:18] amerkoleci commented on #6
Hi,
Unfortunatelly I've being busy in other areas (Direct3D12 and Direct2D1), will implement it ASAP.

[2019-09-17 17:53] Aminator opened #28 "System.InvalidCastException at IDxcLibrary.CreateIncludeHandler"
The second time I call `DxcCompiler.Compile` in my [DirectX12WinFormsApp](https://github.com/Aminator/DirectX12GameEngine/tree/master/DirectX12WinFormsApp) project it throws a `System.InvalidCastException`. I can't figure out why it only throws in this special case.

Here is the stack trace:
[code]

[2019-09-17 18:23] amerkoleci commented on #28
Probably you can create it only once or need to be released at least, currently I don't map it to IUknown and its not released

[2019-09-18 02:01] nathan-alden opened #29 "Typo in package description"
![image](https://user-images.githubusercontent.com/1189759/65101622-a3ec3980-d996-11e9-8ce8-5cbb61aa9dc3.png)

[2019-09-18 05:29] amerkoleci commented on #29
That's not related to Vortice.Windows but to my game framework https://github.com/amerkoleci/vortice

[2019-09-18 05:29] #29 closed

[2019-09-18 06:40] #28 closed

[2019-09-18 11:28] nathan-alden commented on #29
Oops; yeah. Sorry about that.

[2019-09-18 13:51] amerkoleci commented on #6
XAudio2 support has landed, please give a try

[2019-09-18 20:47] CAMongrel commented on #26
So I created a variant of the marshalling code for StateObjectDescription where the public interface and workflow remains the same and the only changes are internal. It works in my sample code.

Here's the patch:
https://gist.github.com/CAMongrel/c0530211e552303b7ed6b650184f1460

The number of changed files is larger than in the other version, but that's only because of a change in a method signat

[2019-09-18 20:49] amerkoleci commented on #26
Does raytracing work now? I can review and apply patch if yes

[2019-09-18 22:22] CAMongrel commented on #26
Yes it does.

[2019-09-19 00:52] nathan-alden commented on #6
@amerkoleci Did you upload this to NuGet? I can't find it on either nuget.org or myget.org.

[2019-09-19 05:15] amerkoleci commented on #6
You need to add appveyor feed, take look at Readme file.
     <add key="myget vortice_windows" value="https://ci.appveyor.com/nuget/vortice-windows" />

[2019-09-19 12:54] nathan-alden commented on #6
Ah, I hadn't seen that. Looks like I can get rid of the [presumably old?] MyGet feed URL.

[2019-09-19 13:18] amerkoleci commented on #6
Yep

[2019-09-19 20:40] #26 closed

[2019-09-19 20:40] amerkoleci commented on #26
Just pushed merged changes.

[2019-09-19 20:41] #21 closed

[2019-09-19 20:42] #6 closed

[2019-09-21 05:40] amerkoleci commented on #26
Send me link with raytracing example when you put them somewhere so I tweet and add it in Readme please

[2019-09-21 09:43] CAMongrel commented on #26
When will you update the NuGet package? I think it'd be helpful to correctly reference the updated NuGet packages in the sample instead of custom compiled binaries. Makes everything much easier.

[2019-09-21 16:06] amerkoleci commented on #26
1.3.0 was just release and official 1.3.0 packages are on nuget.

[2019-09-22 08:41] CAMongrel commented on #26
Sample code is now public at:
https://github.com/CAMongrel/D3D12SampleRaytracerSharp

[2019-09-22 09:00] amerkoleci commented on #26
Just tweeted here https://twitter.com/AmerKoleci/status/1175693767363432450?s=19

[2019-10-06 02:36] nathan-alden-sr opened #30 "Possible memory leak"
The following code:
[code]
results in the following debug output after a call to `IDXGIDebug::ReportLiveObjects`:
[code]
Is this a memory leak as it appears? I noticed this when testing my `D2DERR_RECREATE_TARGET` code; my app started consuming memory like crazy.

[2019-10-06 02:43] nathan-alden-sr commented on #30
Looks like this static function is leaking the `ID3D11DeviceContext` ref:
[code]
When I manually `d.ImmediateContext.Dispose();`, the debug output disappears.

[2019-10-06 02:46] nathan-alden-sr commented on #30
There also seem to be many other memory leaks, presumably of the same type. It's time-consuming to track them down but I see them by merely initializing resources then immediately releasing them with `Dispose()` calls. Might be worth taking a look at all the factory methods that follow the above pattern.

[2019-10-06 07:26] amerkoleci commented on #30
Will take look and fix it very soon, thanks for reporting

[2019-10-06 13:09] nathan-alden-sr commented on #30
I discovered the other leak. I was executing this code:
[code]
Unfortunately, I did not realize that merely calling properties on some of these interfaces actually adds a ref to the underlying object. I think this violates the principle of least astonishment; usually, properties should not have these kinds of side effects. As it stands, I will have to decompile every property to see whether a ref

[2019-10-06 13:14] amerkoleci commented on #30
That's the same as calling on native code, you have to use using on properties as well, fixing it for all props is difficult

[2019-10-06 13:18] nathan-alden-sr commented on #30
I understand that, but native code doesn't have properties, and thus no conventions around their use. The actual native call is `HRESULT GetContainingOutput(IDXGIOutput **ppOutput);`, which is a method. Again, the issue here isn't regarding the native code at all, but rather the use of C# properties (which are almost always side-effect free) for stateful code.

[2019-10-06 13:36] amerkoleci commented on #30
I can avoid property or not sure how can avoid leakage

[2019-10-06 14:07] nathan-alden-sr commented on #30
I'm not expecting magic, for sure. :) I know that the caller has to release the object. I'm merely saying that by making the interface a _property_, it gives developers the wrong impression because properties are normally side-effect free. Making it a method might at least be a hint that the reference needs to be disposed.

[2019-10-07 12:07] amerkoleci commented on #30
Some fixes has landed.

[2019-10-07 14:21] nathan-alden-sr commented on #30
These changes appear to have fixed the live objects I was seeing after calling `IDXGIDebug::ReportLiveObjects`. Thank you very much!

I also saw you changed `ContainingOutput` to `GetContainingOutput()`. 👍 I think there are other properties in various areas that do the same thing (e.g., `IDXGIDevice.Adapter`).

[2019-10-14 20:08] Noemata opened #31 "Feature Request"
Initializers/Bootstrappers that support HoloLens.  HoloLens emulator would be a good start.

[2019-10-14 20:09] amerkoleci commented on #31
Submit PR and I will gladly merge it

[2019-10-15 00:49] Noemata commented on #31
I haven't implemented this.  I was requesting the feature.  I'll have a look at trying to implement your code, but use the SharpDX Holographic template as an example.  I've yet to see a third party library outside of Urho, Unity and WaveEngine implement HoloLens support.  Probably because it's non-trivial.  Would be nice to see an open this in your implementation since it appears to be the path fo

[2019-10-15 01:05] Noemata commented on #31
Also, DirectX12GameEngine claims to support MR, but the initialization code is incomplete.  There are several missing steps to get this working in that code,  In particular, the way GraphicsDevice is initialized in needs to make use of HolographicSpace, but the order implemented precludes access when needed.  It's on the right track nonetheless.

[2019-10-20 01:08] Aminator commented on #31
@Noemata I haven't had access to a HoloLens yet, so I could only try it with a Windows Mixed Reality headset a while back in DirectX12GameEngine. Once I get myself a HoloLens 2 (hopefully this year), I will work on support for that in addition to spatial interaction with hands and eyes. The UWP API does a great job of exposing these features.

[2019-10-22 10:21] diwot opened #32 "RaytracingInstanceDescription Transform"
The Property Transform in RaytracingInstanceDescription is only one float long. After reading the documentation (https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ns-d3d12-d3d12_raytracing_instance_desc) I would expect 12 floats in a 3x4 matrix.

[2019-10-22 10:40] amerkoleci commented on #32
Thanks for reporting, fixed now

[2019-10-22 10:40] #32 closed

[2019-10-23 03:42] CharlesPublic opened #33 "ID3D11DeviceContext.Map produces empty byte[]"
Hey, i'm currently trying to port some code from SharpDX to Vortice.

I'm trying to capture the screen and convert it to a Bitmap or byte[]

When i call the following functions with the same arguments as in SharpDX i only get a blank image or empty byte[]

    ID3D11Device.ImmediateContext.CopyResource, (This can silently fail?)
    ID3D11Device.ID3D11DeviceContext.Map

Can you spot any errors in

[2019-10-23 05:05] CharlesPublic commented on #33
nvm, after hours of debugging i found my mistake.
You Switched CopyResource( dstResourceRef and srcResourceRef ) !!!
Thats just cruel, when porting from SharpDX.

Anyway thanks for this project, i couldn't even get SharpDX to compile.

i have another question: If i wanna do lots of AcquireNextFrame, can i just reuse the ID3D11DeviceContext every time, or do i have to call .Map(), .Unmap() for ever

[2019-10-23 06:44] amerkoleci commented on #33
Dude, I'm following Microsoft API not SharpDX (https://docs.microsoft.com/en-us/windows/win32/api/d3d11/nf-d3d11-id3d11devicecontext-copyresource) so if it takes first destination then source I follow that API, you have to adapt or follow SharpDX logic.

I will try to improve the Map to have some better logic, maybe using Span stuff.

[2019-10-23 08:01] amerkoleci commented on #30
IDXGIDevice.Adapter is now persisted and release when IDXGIDevice is Disposed, if you see any other scenarios please report.

[2019-10-23 08:01] #30 closed

[2019-10-23 08:06] amerkoleci commented on #33
API improvements, and added AsSpan to MappedSubresource so you can access data in the way you want.

[2019-10-23 08:06] #33 closed

[2019-10-27 01:57] jdpurcell opened #34 "XAudio2 SourceVoice State.SamplesPlayed doesn't update"
I was curious to try your XAudio2 library so I took some of my code that was using SlimDX's XAudio2 and ported it over. I ran into an issue because I have logic to try to keep a certain amount of data buffered in the output device at any given time, so it tries to calculate how many samples are currently buffered by doing something like:

[code]

In Vortice.XAudio2 v1.3.0, SamplesPlayed is always

[2019-10-27 03:25] jdpurcell commented on #34
I can't reproduce this after making a minimal test case in a new project. The same minimal code is failing in my original project so maybe it's different settings or a conflicting reference. I'll let you know if I figure out where the problem is.

[2019-10-27 04:05] jdpurcell commented on #34
SamplesPlayed is only returning a value if it's running in 32-bit mode (targeting x86 or AnyCPU with Prefer 32-bit). In 64-bit mode it's always returning 0.

Minimal test case:
[code]

[2019-10-29 09:37] amerkoleci commented on #34
This seams something related to XAudio, there is also XAUDIO2_VOICE_NOSAMPLESPLAYED to be passed to not calculate the sample, maybe you could use XAudio callbacks for this purpose (https://docs.microsoft.com/en-us/windows/win32/api/xaudio2/nf-xaudio2-ixaudio2sourcevoice-getstate)

[2019-10-29 13:53] jdpurcell commented on #34
Same issue that was fixed in SharpDX: https://github.com/sharpdx/SharpDX/issues/709

[2019-10-30 07:44] #34 closed

[2019-10-30 12:10] #31 closed

[2019-11-03 10:01] haruby511 opened #36 "Bug at ID3D11Device.CreateInputLayout()."
At [ID3D11Device.CreateInputLayout()](https://github.com/amerkoleci/Vortice.Windows/blob/fac349ff6a20ed8bed9d89f2499066c342e22cca/src/Vortice.Direct3D11/ID3D11Device.cs#L150).

It passing size as `blob.BufferPointer`.

Should be
[code]

[2019-11-03 10:17] amerkoleci commented on #36
Nice catch, if you want submit PR otherwise will fix it ASAP

[2019-11-03 11:44] haruby511 commented on #36
@amerkoleci Unfortunately, I'm a NuGet user and didn't fork the repository. This issue is not emergency because of a overloading which is receiving `byte[]` it works normally. Just inefficient.

[2019-11-04 07:38] #36 closed

[2019-11-11 09:39] limocute opened #39 "Any plans to add DirectInput bindings?"
Any plans to add DirectInput bindings?I ported 2D games to Vortice.Windows.But it doesn't have a DirectInput binding.
Sorry, English is not my native language.
The above is from Google translation.

[2019-11-13 07:43] amerkoleci commented on #39
Hi,
At the moment no, as DirectInput is quite legacy stuff, you can try and port it from SharpDX and maybe submit PR.

Thanks

[2019-11-14 09:30] #39 closed

[2019-11-29 18:54] FaberSanZ opened #41 "SPIR-V is not generated."
Hi,

First of all, thank you very much for the libraries.

I have an error generating SPIR-V
![Captura](https://user-images.githubusercontent.com/39819646/69886375-aaa8fe00-12af-11ea-9eb3-552fea9a40ef.PNG)
, and downloading the last binary from [dxcompiler.dll](https://dev.azure.com/msft-ShaderConductor/public/_build/results?buildId=149)
works correctly

[2019-11-29 19:01] amerkoleci commented on #41
Send PR with latest dxcompiler please, otherwise I will do it asap

[2019-12-14 00:55] GTANAdam opened #42 "Desktop Duplication Sample"
Greetings, I found some API difficulties coming from SharpDX, would be great to see how this is implemented on Vortice with a sample, thanks in advance.

[2019-12-14 20:07] haruby511 opened #43 "Need Direct3D 9 till these days."
The Vortice seems has not any plan for D3D9. Maybe because it is very old.
However, in WPF(Windows Presentation Framework), the D3D9 is the only way of low-level GPU acceleration rendering.

The [D3DImage](https://docs.microsoft.com/en-us/dotnet/api/system.windows.interop.d3dimage.setbackbuffer?view=netframework-4.8#System_Windows_Interop_D3DImage_SetBackBuffer_System_Windows_Interop_D3DResourceTy

[2019-12-14 21:32] amerkoleci commented on #43
Feel free to submit PR, not in the plan in near future

[2019-12-14 21:33] amerkoleci commented on #42
If you have any C++ example port it and I will gladly merge it

[2019-12-17 03:15] mtosoftware opened #44 "How to fill buffer?"
I'm following along with the tutorial from this [site](), I was just wondering how can I achieve the following code with Vortice.Direct3D11?

[code]

So far, I've been able to create the buffer:

[code]

The vertex struct:

[code]

[2019-12-18 07:48] amerkoleci commented on #44
Hi,

You can use:

[code]

[2019-12-18 07:48] #44 closed

[2019-12-20 16:55] amerkoleci commented on #43
Initial Direct3D9 support just landed (https://github.com/amerkoleci/Vortice.Windows/commit/f419c92f0c6307325a29e1a4a161d1563edf19fe)

[2019-12-21 00:02] LVamos opened #45 "Xaudio2 example"
Hello,

   could you please write a short example on how to load and play a sound file and use HRTF/ambisonic functions? I'd really like to learn it.

[2019-12-21 05:20] haruby511 commented on #43
@amerkoleci Nice job. I'll try it soon.

[2019-12-21 08:18] amerkoleci commented on #45
Not an issue tho, closing

[2019-12-21 08:18] #45 closed

[2019-12-22 23:24] haruby511 commented on #43
@amerkoleci Missing NuGet package.

[2019-12-23 07:33] amerkoleci commented on #43
@haruby511 You need nightly builts, still not ready for nuget, please take look on how to that in README.

Basically you need to add the line bellow in your nuget.config file:

<add key="myget vortice_windows" value="https://ci.appveyor.com/nuget/vortice-windows" />

[2019-12-25 11:09] amerkoleci commented on #43
Just released nuget package as well, closing

[2019-12-25 11:09] #43 closed

[2019-12-27 08:50] BMarques opened #46 "DXGIDebugInterface1 in different dll."
Hello,
While trying to use the DXGI.DXGIDebugInterface1, it was complaining it wasn't finding that method in dxgidebug.dll. I fixed it by changing the dxgidebug.dll to dxgi.dll. in the following mapping

`<map function="DXGIGetDebugInterface.*" dll='"dxgi.dll"' group="Vortice.DXGI.DXGI" hresult="true" check="false" />
<map param="DXGIGetDebugInterface.*?::ppDebug" attribute="out" />`

[2019-12-29 11:47] #46 closed

[2019-12-29 11:48] amerkoleci commented on #46
Fixed, thanks!

[2020-01-24 21:29] Jure-BB opened #47 "[XAudio2] GC causing audio glitches"
To continue a discussion from here: https://github.com/MonoGame/MonoGame/issues/7000

XAudio2 engine creates it's own native thread for audio, but that thread is somehow being blocked by GC, which causes audio glitches when GC is running. [Sample project](https://github.com/Jure-BB/XAudio2_GlitchTest).

This may be caused by registering for callback when xaudio engine is created, using RegisterFor

[2020-01-25 18:45] Jure-BB commented on #47
@amerkoleci You were right. If I comment out the RegisterForCallback the glitching stops.

[2020-01-25 19:16] amerkoleci commented on #47
Nice one, will fix it ASAP, happens with native one if you register callback? Just to know if SharpGen CallbackBase is leaking

[2020-01-25 19:45] Jure-BB commented on #47
I don't really know how to do callback interop. Writing that simple native wrapper was already quite a stretch for me, as I don't have experience with C++. I'll see what I can come up with, but I can't make any promises.

[2020-01-25 23:54] Jure-BB commented on #47
Success :) I added callback test to the native wrapper. It calls back a managed method from the XAudio thread. It works fine. GC is not blocking native audio thread.

https://github.com/Jure-BB/XAudio2_GlitchTest

[2020-01-26 09:26] Jure-BB opened #48 "Add no spaces requirement to the build instructions"
I was having issues building this project because I had spaces in the project path. This seems to be caused by SharpGenTools/CastXML module.

It would be nice, if no spaces in project path requirement was added to the build instructions in the readme, as this is not standard requirement for C# projects.

[2020-01-27 07:46] amerkoleci commented on #47
Can you try with latest nightly build from Vortice? Just add to you nuget.config the line:

<add key="myget vortice_windows" value="https://ci.appveyor.com/nuget/vortice-windows" />

[2020-01-27 09:53] Jure-BB commented on #47
Still glitching.

The latest package I found was 1.5.0-pre124 (22 January 2020) from https://ci.appveyor.com/nuget/vortice-windows

[2020-01-30 02:47] pjmagee opened #49 "[Question] Is it possible to use this to capture a Window client area for a screenshot?"
I have a .NET core 3.1 application and i've been using native calls to GDI resources, however on some devices the hardware does not support BitBlt (My laptop doesn't work, but my Desktop does). The resulting bitmap is just black. It seems like the best way to approach this is a hook or some form of direct x capabilities so that it can work across any hardware its running on. I'm not familiar with

[2020-01-30 09:06] amerkoleci commented on #47
I just pushed change that handle EngineCallback as optional parameter, can you try please? Try with and without callback maybe?

[2020-01-30 09:38] amerkoleci commented on #48
Added info in README.md

[2020-01-30 09:38] #48 closed

[2020-01-30 11:02] Jure-BB commented on #47
No glitches without callback.

With callback I get the following error: `An unhandled exception of type 'System.ExecutionEngineException' occurred in Unknown Module.`

[code]

[2020-02-01 17:26] YaakovDavis opened #50 "Error messages lacking details"
The error messages just say "the parameter is incorrect", and don't contain any useful information.
How to fix this?

[2020-02-01 17:29] amerkoleci commented on #50
Cmon, share some code or callstack so i can help out, this doesn't mean nothing otherwise

[2020-02-01 17:29] amerkoleci commented on #49
Not sure how to answer this, if you have an example of cpp code I can help out

[2020-02-01 17:35] YaakovDavis commented on #50
Here's one callstack as an example, but I get the same error in many other scenarios:

[code]

To be clear, I know how to fix the above error. The problem is that I get many similar errors, which don't provide any additional info. I have to dig manually, which slows me down.

[2020-02-01 18:01] amerkoleci commented on #50
You should act as native code, its the same even on native dx11 code, just enable the debug layer

[2020-02-01 18:01] #50 closed

[2020-02-01 18:07] YaakovDavis commented on #50
Enabling the debug layer didn't yield any additional info, but perhaps DX itself doesn't provide any such info.

[2020-02-06 14:56] Pursche opened #51 "[DXC] Mesh shaders Support"
I would like to request support for the brand new DirectX Mesh Shaders that went into dev preview in October:

https://devblogs.microsoft.com/directx/dev-preview-of-new-directx-12-features/

This introduces the new shader stages "ms_6_5" and "as_6_5", so the bindings would have to get updated with new DxcShaderStages I guess?

I just started using Vortice.DXC after having used dxc.exe through a sp

[2020-02-23 17:21] YaakovDavis opened #52 "ImGui bindings"
I've implemented ImGui bindings for Vortice:
https://github.com/YaakovDavis/VorticeImGui

It's based on the Dx11 c++ example from imgui, and some code from Vortice's "sample framework".

Feel free to integrate/use in any way desired.

[2020-02-24 08:26] amerkoleci commented on #52
Thanks,
Added link in README.md

[2020-02-24 08:26] #52 closed

[2020-03-03 07:45] BMarques opened #53 "CD3D11 Helper Structures"
Hello,
I'm reimplemeting the UWP DirectX 11 App that comes with Visual Studio, and I came across these helper structures. Is it implemented in some way in Vortice?
I think it would be a good idea, to make some struct initializations easier.

I can try to submit a PR, but I still don't quite get how to work with Vortice and SharpGen :).

[2020-03-03 09:41] amerkoleci commented on #53
Hi,
For helpers you dont need to pass throught CD3D11 logic, you can extend descriptors like being done in native side, feel free to submit PR or tell me which structures you need.

Thanks

[2020-03-03 10:53] BMarques commented on #53
My idea was to add the same logic of those helpers to the constructors for the respective vortice d3d11 structs. Is that what you meant with extend descriptors?

[2020-03-03 11:00] amerkoleci commented on #53
Yes, without touching the SharpGen side

[2020-03-03 11:08] BMarques commented on #53
I'll give it a try

[2020-03-03 13:39] amerkoleci commented on #53
I'm doing it, will push changes soon.

[2020-03-03 16:29] #53 closed

[2020-03-03 22:27] BMarques commented on #53
Thanks. When do you think you'll release version 1.6.0?

[2020-03-04 10:09] amerkoleci commented on #53
Its depends, you can use beta packages that I'm now pushing on nuget as well (https://www.nuget.org/packages/Vortice.Direct3D11/1.6.1-beta-g6ca1898ae1)

[2020-03-04 12:46] BMarques commented on #53
Thanks, I'll give it a try later today.

[2020-03-04 22:23] BMarques opened #54 "ClearRenderTargetView Color improvement"
Hello,
According to this documentation, https://github.com/microsoft/DirectXTK/wiki/Using-DeviceResources, the DirectXMath colors are based on the .NET color constants.
With this in mind, I think it make sense that ClearRenderTargetView actually takes a System.Drawing.Color as input, then convert the Color to a Color4 using a specific Color4 constructor.

What do you think? It makes it more seamle

[2020-03-05 07:46] amerkoleci opened #55 "Retire XAudio 2.7 support"
Use the [XAudio2 redist ](https://docs.microsoft.com/en-us/windows/win32/xaudio2/xaudio2-redistributable)option to support Windows 7.

[2020-03-05 09:50] amerkoleci commented on #54
Nice idea, indeed I have done the integration here (https://github.com/amerkoleci/Vortice.Windows/commit/01e9049c4cf9e83fd9e8571ab117dd1a13fe46ad)

[2020-03-05 09:50] #54 closed

[2020-03-05 22:34] BMarques opened #56 "Missing winerror result codes"
Hello,
Thanks for the recent changes you've been doing, it's making implementing the base UWP app going along very nicely.
While going further with it, I found that Vortice.Windows is missing the winerror.h DirectX specific errors (I honestly think that Microsoft is just wrong in the way they did it but what do I know)

C++ Sample that i'm looking at.

[code]

On winerror.h we have....

[code]

Wh

[2020-03-06 07:42] #56 closed

[2020-03-06 22:16] BMarques opened #57 "ID3D11DeviceContext.DiscardView1 null rects parameter not accepted"
Hello,
This piece of c++ code is valid and works.

[code]

However:

[code]
This will fail with a **Object reference not set to an instance of an object.**
This is probably happening because inside the DiscardView1 you're not taking into account the possibility of passing a null instead of an array.

[2020-03-09 07:51] #57 closed

[2020-03-09 07:52] amerkoleci commented on #51
Of course yes, once the Windows 10 SDK 19041 gets released.

[2020-03-09 07:55] #49 closed

[2020-03-09 09:42] amerkoleci commented on #55
Implemented with https://github.com/amerkoleci/Vortice.Windows/commit/5875d9b59f0d9a140ac38be6d92e5e7a5babfd7a

[2020-03-09 09:42] #55 closed

[2020-03-09 17:30] waltdestler commented on #47
Hey there,

I'm looking at Vortice as a replacement to SharpDX, specifically to solve this GC audio glitch issue. (And also so that I can be using a library that's actually being maintained.) Unfortunately, I still need to handle a couple callbacks in IXAudio2 (OnCriticalError) and IXAudio2SourceVoice (OnBufferEnd), so simply not using callbacks is unfortunately not an option for me. Any other ide

[2020-03-09 18:02] waltdestler commented on #47
Hey, I downloaded and tested your XAudio2-GlitchTest project. Unfortunately, I don't think that it's properly testing callbacks. Your C# callback is only ever being called once for `OnBuffStart` when the sound first plays and then never again, so of course future GCs will never block the XAudio2 thread since that thread never again calls into C#. If I modify your C++ code to call the delegate in `

[2020-03-09 18:40] Jure-BB commented on #47
@waltdestler that is entirely possible. I didn't implement the whole IXAudio2VoiceCallback interface, but just a small subset. I don't have experience with C/C++ so I improvised the smallest callback test I could come up with :) Can you share the modified test, so I can have a look at it?

[2020-03-09 19:13] waltdestler commented on #47
@Jure-BB The only thing I modified was in `VoiceCallback.h`, I changed `OnVoiceProcessingPassStart` to look like this:

[code]

[2020-03-09 19:26] amerkoleci commented on #47
Recently i switched from xaudio to xaudio 2.9 redist, can you try with latest beta from nuget https://github.com/amerkoleci/Vortice.Windows/commit/e3655f3472f36e95e27116e8e73ccf655825022c?

[2020-03-09 20:15] Jure-BB commented on #47
@waltdestler I can confirm that implementing OnVoiceProcessingPassStart callback also causes glitches in the native wrapper.

@amerkoleci This changes the nature of this bug. My previous callback implementation in the native wrapper was incomplete, so my previous results are incorrect. Callbacks DO cause glitches in the native wrapper test.

I'm not sure anymore, if it is possible to callback to m

[2020-03-09 21:11] waltdestler commented on #47
Either that, or the callbacks are stored in a queue which is only processed when the C# thread makes a `ProcessCallbacks()` call to the wrapper, or something like that.

[2020-03-09 21:12] amerkoleci commented on #47
If I'm not wrong XAudio supports background thread processing or setting the cpu processor in constructor

[2020-03-09 21:19] waltdestler commented on #47
XAudio runs a background thread, yeah, but all its callbacks also happen on that background thread, so if a callback in turn calls managed code while the GC is blocking, then it'll block the entire XAudio background thread while the GC is blocking, leading to the audio glitches.

[2020-03-09 21:30] amerkoleci commented on #47
I think we need an event handle and perform wait object handle on that, DirectXTK does that

[2020-03-10 10:51] Jure-BB commented on #47
@amerkoleci something like [this](https://github.com/microsoft/DirectML-Samples/blob/cda8574d4868084ac8d704f768189d22c9aa5032/DirectMLSuperResolution/Kits/DirectXTK12/Audio/AudioEngine.cpp#L802)?

So, WaitForMultipleObjectsEx call needs to be inside a native audio update method, which is then called from the managed code on regular intervals (like per frame)?

[2020-03-10 10:57] amerkoleci commented on #47
Not sure @Jure-BB , try and keep me updated :)

[2020-03-10 12:55] Jure-BB commented on #47
@waltdestler @amerkoleci  I updated callbacks implementation in the [test project](https://github.com/Jure-BB/XAudio2_GlitchTest). Using WaitForMultipleObjectsEx in an update loop doesn't cause glitches even for OnVoiceProcessingPassStart callbacks. I hope this helps with fixing this bug.

[2020-03-15 23:42] acaly opened #58 "COM memory behavior for IDXGIFactory1.EnumAdapters1"
Hi,

Could you please explain whether or how I should release adapters returned by ```IDXGIFactory1.EnumAdapters1```? From the source code I see it directly calls the native ```EnumAdapters1``` function, which I think automatically ```AddRef``` for each returned pointer. I think the caller should Release all elements returned by this method?

I noticed that in src/samples/Vortice.SampleFramework/D

[2020-03-16 00:07] acaly opened #59 "Make description parameters nullable for IDXGIFactory2.CreateSwapChainForXXX"
Because currently these functions take value-type parameters which are not optional, there is no way to specify a NULL description as one can do in native DirectX 11. For example, in ```CreateSwapChainForHwnd```, there is no way to specify ```restrictToOutput``` while providing no ```fullscreenDescription```. I think probably it's better to use the pattern already used in ```ID3D11Device.CreateXXX

[2020-03-16 00:15] acaly commented on #58
Similar for ```IDXGIAdapter.EnumOutputs```.

[2020-03-16 01:32] acaly commented on #58
I have tested this myself. I did not figure out how to use the memory leak reporting system in CppObject, so I manually checked memory heap in VS.

I noticed that SharpDX originally uses the similar method (of returning an array of COM objects). According to the discussion in https://github.com/sharpdx/SharpDX/pull/102, "You can request adapters/outputs as many times and not release them, It will

[2020-03-16 07:56] amerkoleci commented on #47
@Jure-BB would be possible to submit a PR?

[2020-03-16 08:54] #59 closed

[2020-03-16 10:19] amerkoleci commented on #58
This was handled in this commit: https://github.com/amerkoleci/Vortice.Windows/commit/d2fbca648ec24974a1a4dd37d003a3aee3c60397

Feel free to report any other memory usage.

[2020-03-16 10:19] #58 closed

[2020-03-16 10:20] Jure-BB commented on #47
@amerkoleci the test project is only a proof of concept. Unfortunately, I don't have enough experience with C++ to create a good implementation with proper memory management suitable for production. Also, I have no idea how to integrate this with generated code from SharpGen. For the project I am working on XAudio callbacks are not used. So, to fix audio glitching, I just disabled all callbacks. H

[2020-03-16 15:56] acaly commented on #58
Thank you for the work! I am looking forward to a stable 1.6.0.

[2020-03-16 16:45] acaly opened #60 "Incorrectly disposing immediate context when creating device"
The device context is disposed by constructor, which causes the immediate context property to be null. I believe this is not the expected behavior.

https://github.com/amerkoleci/Vortice.Windows/blob/d2fbca648ec24974a1a4dd37d003a3aee3c60397/src/Vortice.Direct3D11/D3D11.cs#L26

[2020-03-16 16:52] amerkoleci commented on #60
Do you have null reference here?

[2020-03-16 17:41] acaly commented on #60
Using this method, the device is fine, but if I want to get the immediate context later from the device, I get an COM object with null pointer inside. I think either the device should have a valid context object after creation, or create another one when requested (by calling ```ID3D11Device::GetImmediateContext```).

[2020-03-16 17:59] acaly commented on #60
Some not really related thoughts. I have to say the memory management of COM objects does not get along well with C# GC, and this type of ```ComObject``` architecture has some limitation. The C++ COM interface, although being complicated, has a rather clear rule of when one should ```AddRef```/```Release``` an object, and everyone can have valid pointers and be happy if the rule is properly follow

[2020-03-16 19:43] acaly commented on #60
I just noticed that this issue was related to https://github.com/amerkoleci/Vortice.Windows/issues/30. However, as the device should dispose the immediate context when itself is disposed, I don't see why it causes a memory leak if the context is not disposed in this method.

I actually doubt the leak is caused by https://github.com/amerkoleci/Vortice.Windows/blob/cae261c46564ca66c4cd67ac8877ed2633

[2020-03-16 21:21] acaly commented on #60
Sorry for posting again. I looked at the decompiled source/IL using ILSpy. What I found is:
1. Currently there is no memory leak regarding to device or immediate context, or memory access error (except for the mentioned null context).
2. To solve the null context problem, removing the ```Dispose``` call in the mentioned ```D3D11CreateDevice``` method should leads to no memory leak (I still don't u

[2020-03-16 21:24] amerkoleci commented on #60
Do you mind submitting PR? You seams understood correctly the issue

[2020-03-18 09:39] amerkoleci commented on #60
Just pushed fix for this one: https://github.com/amerkoleci/Vortice.Windows/commit/6de281baeae3d51b8adccddfa808948664c3e0a5

Can you grab nuget package please?

[2020-03-18 17:11] acaly commented on #60
Thanks for fixing this. I will try the latest version.

I think all problems mentioned here are solved. I think I should keep the PR open because it contains fixes for two other problems not mentioned here (please see the 2 examples in the PR comment), although both are less critical.

[2020-03-18 17:11] #60 closed

[2020-03-18 19:00] acaly opened #62 "[D3D11] Allow null argument in XXSetShaderResource and XXSetSampler"
Currently in ```ID3D11DeviceContext```, some overloads of these functions does not accept null pointers as argument, which is commonly used to clear a resource/sampler binding. For example the following overload:
[code]

[2020-03-19 08:19] #62 closed

[2020-03-19 16:38] Jorgemagic opened #63 "RaytracingInstanceDescription"
Hi Amer,
    I have an issue with RaytracingInstanceDescription struct in Vortice.Direct3D12.  The size of this struct in C++ API is 64 ( Ej. sizeof(D3D12_RAYTRACING_INSTANCE_DESC) ) however in Vortice C# API is 48 (Unsafe.SizeOf< RaytracingInstanceDescription >()), and this doesn't work in my DXR sample. I think that you must specify the explicit offset and size of this struct.

I fixed it in my

[2020-03-19 16:59] amerkoleci commented on #63
Nice catch, just fixed with your suggestion and added documentation to the structure.

https://github.com/amerkoleci/Vortice.Windows/commit/38f134d4863c3a74b8826a514d047b1de1ec6809

[2020-03-19 16:59] #63 closed

[2020-03-19 18:17] acaly opened #64 "[D3D11] API design for DeviceContext.Map with mip and array slice parameters"
[code]
This seems to be an overload designed for textures. I think there are 2 places that can be made better:
1. It should throw NotSupportedException or InvalidOperationException instead of the current NotImplementedException for buffers.
2. There is no corresponding unmap method that accepts the same set of parameters. Users still have to manually calculate subresource index, making it less con

[2020-03-19 21:54] amerkoleci commented on #64
What i would like to add is the IDisposable pattern and when disposed call Unmap

[2020-03-20 00:32] acaly commented on #64
IDisposable pattern is a good choice from the user's point of view. The problem is only how far you want to be away from the original DirectX API in general. Maybe there are too much to improve to make the whole DirectX API in C# style.

[2020-03-20 00:40] acaly commented on #64
Note that even Bitmap.LockBits is not using IDisposable.

[2020-03-21 10:17] #64 closed

[2020-03-29 12:41] BMarques opened #66 "Mathematics Viewport"
Hello,
Should the Viewport struct be part of Mathematics namespace, or Direct3D11 ? I'm asking because it's originally from the D3D11 headers, since it's a "D3D11_VIEWPORT"

I know that there's also a D3D12_VIEWPORT ... so maybe it should actually be just part of the DirectX.Direct3D namespace?

I also noticed that it expects a RectangleF, also from the Mathematics library, but on other parts of t

[2020-03-29 12:56] amerkoleci commented on #66
I'm moving away from system drawing and have all parts in vortice mathematics, Point, PointF, Size, SizeF, Rectangle, Rectangle and Viewport is where it belongs, shared code and I will use same types in https://github.com/amerkoleci/Vortice.Vulkan

[2020-03-29 12:56] #66 closed

[2020-04-08 14:23] holance opened #67 "Add object tracker similar to SharpDX for memory leak debugging"
SharpDX Diagnoistic has the object track, which helps to debug memory leaks.
https://github.com/sharpdx/SharpDX/blob/master/Source/SharpDX/Diagnostics/ObjectTracker.cs

If Vortice can add similar debugging feature, it would be really helpful.

[2020-04-08 14:27] amerkoleci commented on #67
This is part of SharpGen.Runtime thus part of vortice.

https://github.com/SharpGenTools/SharpGenTools/blob/23a17e7386d608ee7d03bd0ecc77a0bc2b38b894/SharpGen.Runtime/Diagnostics/ObjectTracker.cs

[2020-04-08 14:27] #67 closed

[2020-05-15 04:46] zcstkhk opened #69 "Document"
Is it possile that add MSDN Doc into the Vortice? SharpDx has accomplished part of them, but i don't follow how that works.

[2020-06-03 20:25] #41 closed

[2020-06-03 20:29] amerkoleci commented on #51
Mesh shaders just landed, closing now

[2020-06-12 20:37] feliwir opened #70 "Allow only setting UnorderedAccessViews for OutputMerger"
With **OMSetRenderTargetsAndUnorderedAccessViews** it's possible to set num of rtvs to **D3D11_KEEP_RENDER_TARGETS_AND_DEPTH_STENCIL**. Currently this is not possible with Vortice.Windows

[2020-06-13 06:49] amerkoleci commented on #70
Do you have other issues?

[2020-06-13 07:58] feliwir commented on #70
I didn’t port of everything so far of Veldrid, but i’ll let you know if i hit another blocker

[2020-06-14 07:35] feliwir opened #71 "Define debug GUIDs"
It would be great if the debug guids required for **ReportLiveObjects** could be wrapped somewhere. See: https://docs.microsoft.com/de-de/windows/win32/direct3ddxgi/dxgi-debug-id

I saw that you also use them in alimer and define them manually there:
https://github.com/amerkoleci/alimer/blob/f3eaf2ca6bf9870a317bd3f8bf0e860b29737334/third_party/vgpu/src/vgpu_d3d_common.h#L51

I think it would be co

[2020-06-14 07:37] amerkoleci commented on #71
They are indeed wrapped, under Vortice.DXGI dxgi static class

[2020-06-14 07:50] feliwir commented on #71
Ah yes, sorry. Didn't find it before :)

[2020-06-14 07:50] #71 closed

[2020-06-14 09:15] feliwir opened #72 "Add ISwapChainPanelNative for UWP support"
I know you already track that issue, but to it's probably better to create an issue for reference.

[2020-06-15 09:45] limocute opened #73 "Exception using [GetDataPointer] method on [IWICBitmapLock] object"
Hi，Exception using [GetDataPointer] method on [IWICBitmapLock] object。

Exception Message:
InvalidProgramException: The JIT compiler encountered invalid IL code or an internal limitation.

[2020-06-15 13:32] amerkoleci commented on #72
Fixed now.

[2020-06-15 13:32] #72 closed

[2020-06-15 14:30] #73 closed

[2020-06-15 19:51] amerkoleci commented on #70
Just pushed a fix for this one as well, try to get latest beta packages and see if it works well.

[2020-06-15 19:51] #70 closed

[2020-07-18 10:31] yinyue200 opened #76 "IDWriteFontFileStream's methods should be able to override"
see https://github.com/sharpdx/SharpDX/blob/1f89381bc08f2d8cf8d294c6c5fce8dc85a849a1/Source/SharpDX.Direct2D1/DirectWrite/FontFileStream.cs

[2020-07-18 18:01] yinyue200 opened #78 "IDWriteFactory::CreateTextLayout::stringLength should not plus one"
1. We can <a href="https://github.com/microsoft/VCSamples/blob/da802c2aa92a730b3da33c5957186f128709c398/VC2012Samples/Windows 8 samples/C%2B%2B/Windows 8 app samples/DirectWrite hello world sample (Windows 8)/C%2B%2B/DWriteHelloWorld.cpp">see</a> Microsoft is using the string length without the tail zero

[code]
Platform::String->Length() is the string length without the tail zero.

2. We can [see

[2020-07-18 19:17] #78 closed

[2020-07-19 08:22] #76 closed

[2020-07-22 01:20] Velocity-plus commented on #42
I'm not sure if this is what @GTANAdam referred to, but I would love to see how this can be implemented from SharpDX to Vortice.Windows
https://github.com/sharpdx/SharpDX-Samples/blob/master/Desktop/Direct3D11.1/ScreenCapture/Program.cs

[2020-08-24 05:49] digitalml commented on #42
Any updates on this? Is the Desktop Duplication API part of Vortice.Windows?  Here is a good c# sample of how it was used in SharpDX

[2020-08-24 20:43] Redninja106 opened #83 "BUG: Cannot pass null to IDXGIDevice.CreateSurface()"
I am trying to create a DXGI surface which shares its data with a Direct3D9 surface:

`this.IDXGIDevice.CreateSurface(default, 1, (Vortice.DXGI.Usage)0, new SharedResource() { Handle = d3d9Surface.NativePointer });`

but it throws this error:

`DXGI ERROR: IDXGIDevice::CreateSurface: If pSharedResource is non-null (meaning open a shared resource), then NumSurfaces must be one, Usage must be zero,

[2020-08-25 12:17] amerkoleci commented on #83
Thanks for bringing this up, should be fixed in latest beta.

Please try with latest 1.7.36-beta packages and report issues if any.

Thanks

[2020-08-25 12:17] #83 closed

[2020-08-27 06:26] mellinoe opened #84 "Inconsistent naming between DeviceContext.*SetConstantBuffer methods"
There is some minor inconsistency in the naming of overloads on DeviceContext. For some stages, the single-buffer overload is named with a singular name (e.g. SetConstantBuffer). On others, it has a plural name, despite only taking one buffer (SetConstantBuffers).

* [VSSetConstantBuffer](https://github.com/amerkoleci/Vortice.Windows/blob/6a53f2d6760c64c1997d220b2c72c2e444eb9220/src/Vortice.Direct

[2020-08-27 07:04] amerkoleci commented on #84
I just pushed new change that should fix this, I've removed the params usage in order to avoid the allocation, bumped back the 1.7.x beta version, we can gather other issues and I can release new stable 1.7.x version.

[2020-08-27 12:53] #84 closed

[2020-09-11 09:44] sdcb commented on #42
SharpDX desktop duplicate demo here:
[code]

[2020-09-28 06:42] konstantinegorov opened #86 "ID3D12CommandQueue.ExecuteCommandLists ignores the "count" parameter"
The ID3D12CommandQueue.ExecuteCommandLists(int count, ID3D12CommandList[] commandLists) method don't take into account the "count" parameter and always uses the length of the "commandLists" array instead.

[2020-09-28 07:50] #86 closed

[2020-09-28 18:51] AGIT-JVA opened #88 "Can I use Vortice nuget packege with .Net Framework 4.7.2"
Actually My project is on .Net Framework 4.7.2. I have added Vortice.Direct2D1 packege. but when I run the project, I am getting an error,

Could not load file or assembly 'Vortice.Direct2D1, Version=1.8.0.0

[2020-09-28 19:00] amerkoleci commented on #88
That doesn't make sense, net standard 2.0 is compatible with net4.6.1 or higher

[2020-09-29 03:49] AGIT-JVA commented on #88
I have added  'Vortice.Direct2D1 version 1.8.16 so Why I am getting this error.

[2020-09-29 06:54] amerkoleci commented on #88
Dude, give some more info?
I've just run the command: Install-Package Vortice.Direct2D1 -Version 1.8.16 and had no issues.

Closing now

[2020-09-29 06:54] #88 closed

[2020-10-01 17:39] lidgren opened #89 "IDxcIncludeHandler.LoadSource received null terminated string"
Passing an include handler to Vortice.Dxc.DxcCompiler.Compile() will call back to LoadSource with a string that contains the expected string, then a \0 character and then garbage.

[2020-10-01 20:02] amerkoleci commented on #89
I will gladly fix it, do you have a test code to reproduce?

[2020-10-02 07:53] lidgren commented on #89
Sorry; I do not. I went on to use Vortice.D3DCompiler instead because there were no sample code for DxcCompiler

[2020-10-12 15:31] MaximProzorov opened #90 "Direct Composition"
Hi.

Are you planning to add Direct Composition?

[2020-10-12 21:37] amerkoleci commented on #90
Isn't direct composition windows only?

[2020-10-13 09:05] MaximProzorov commented on #90
Direct Composition can work on UWP, and, yes, it really windows desktop only.
But it was on SharpDx, and I consider this project as a SharpDX continuation.

[2020-10-13 09:10] amerkoleci commented on #90
I see, will add it soon

[2020-10-13 20:15] mrjfalk opened #91 "Add support for WinUI 3 SwapChainPanel"
I've tried using this library with WinUI3 (Desktop) `SwapChainPanel`, but I get an exception when trying to cast my `SwapChainPanel` to a `ISwapChainPanelNative` interface, saying the interface is not supported.

I'm not a COM expert, so I might be wrong, but my guess is that this is due to the current ISwapChainPanelNative in Vortice.Windows is based on the interface in `windows.ui.xaml.media.dxi

[2020-10-13 20:26] amerkoleci commented on #91
Absolutely yes, will add it tomorrow

[2020-10-13 20:31] amerkoleci commented on #91
Can you please share the code you're trying to cast?

[2020-10-13 20:46] mrjfalk commented on #91
I want to cast the `Microsoft.UI.Xaml.Controls.SwapChainPanel` into a `ISwapChainPanelNative` from `microsoft.ui.xaml.media.dxinterop.h`. You can find this interface inside this nuget: https://www.nuget.org/packages/Microsoft.WinUI (inside include/microsoft.ui.xaml.media.dxinterop.h):
[code]

[2020-10-13 21:01] amerkoleci commented on #91
So you're using ISwapChainPanelNative from Vortice.DXGI?

[2020-10-13 21:09] mrjfalk commented on #91
Ye that's what I want to be able to do 👍

[2020-10-13 21:10] amerkoleci commented on #91
Tomorrow will tell you how to do it, once I get on pc

[2020-10-14 06:38] amerkoleci commented on #91
You need to to:
[code]

Tell me if it works?

[2020-10-14 11:42] mrjfalk commented on #91
That is essentially what I've done already, the `QueryInterfaceOrNull` just returns `null`. The problem is that the GUID of the Vortice.DXGI.ISwapChainPanelNative is incorrect when using it with WinUI3.

[2020-10-14 11:43] amerkoleci commented on #91
Incorrect why? What is the correct GUID? If you provide more info I can gladly fix it.

[2020-10-14 11:59] mrjfalk commented on #91
Because the Vortice.DXGI.ISwapChainPanelNative has the GUID of the **windows**.ui.xaml.media.dxinterop::ISwapChainPanelNative, which works with UWP **Windows**.UI.Xaml.Controls.SwapChainPanel while I'm using the WinUI3 **Microsoft**.UI.Xaml.Controls.SwapChainPanel interface has the same name but a new GUID and namespace: **microsoft**.ui.xaml.media.dxinterop::ISwapChainPanelNative

[2020-10-14 12:04] amerkoleci commented on #91
Where can I find the microsoft.ui.xaml.media.dxinterop.h header file?

[2020-10-14 12:06] mrjfalk commented on #91
In this nuget (inside the /include folder): https://www.nuget.org/api/v2/package/Microsoft.WinUI/3.0.0-preview2.200713.0

[2020-10-14 13:25] amerkoleci commented on #90
Here we go:
https://www.nuget.org/packages/Vortice.DirectComposition was just added the version is: 1.8.21

[2020-10-14 13:25] #90 closed

[2020-10-14 13:26] amerkoleci commented on #91
Thanks, the 1.8.21 of Vortice.DXGI now has all the types you need under the Vortice.DXGI.WinUI namespace.

[2020-10-14 13:26] #91 closed

[2020-10-14 13:28] mrjfalk commented on #91
Awesome, will try it out. Thanks!

[2020-10-14 13:31] #47 closed

[2020-10-14 13:45] MaximProzorov commented on #90
Thanks

[2020-10-15 17:33] diogotr7 commented on #42
I'm also having problems with this. I tried to replicate a *working* snippet that uses SharpDX with Vortice and all i get is a black bitmap.

@amerkoleci If there's anything obviously wrong with this please let me know.

[DesktopDuplicators.zip](https://github.com/amerkoleci/Vortice.Windows/files/5386717/DesktopDuplicators.zip)

Of course once itworks I can submit a pull request with the sample co

[2020-10-19 09:01] jcant0n opened #92 "BeginEvent method only shows the first 10 characters"
Hi amerkoleci,

We are adding a new lowlevel API to WaveEngine for debugmakers, here is the implementation for DX12:

[code]

Testing it in a simple DrawTriangletest:
[code]
Debugging with Renderdoc:

![image](https://user-images.githubusercontent.com/1783366/96422628-8d975980-11f8-11eb-867f-31395820e6c6.png)

I have tried to adding this code to HelloDirect3D12, but the EndEvent method doesn't app

[2020-10-19 09:30] amerkoleci commented on #92
Hi @jcant0n ,
How do you attach using renderdoc? I have trouble to run HelloDirect3D12 from RenderDoc?

[2020-10-19 09:51] amerkoleci commented on #92
Anyway I found the issue, I was using the ANSI version of BeginEvent and SetMarker, now it should be fine.
Can you try with new 1.8.22 version?

[2020-10-19 10:00] jcant0n commented on #92
Ok, I'm going to check it.

[2020-10-19 10:27] jcant0n commented on #92
Same result, only 10 characters.

![image](https://user-images.githubusercontent.com/1783366/96436804-59c33080-1206-11eb-8dbf-beeb2f9f3c8a.png)

![image](https://user-images.githubusercontent.com/1783366/96436992-65165c00-1206-11eb-89e3-7555d0ff2a09.png)

[2020-10-19 10:29] amerkoleci commented on #92
Can this be RenderDoc bug? Anyway how can I attach to RenderDoc?

[2020-10-19 10:51] jcant0n commented on #92
I'm going to try with a native sample to check it.
About renderdoc, I just launch our test directly.

[2020-10-19 12:25] amerkoleci commented on #92
I found the issue, the problem was the size was total size in bytes not string lenght, now it should be fine.
Please try and report back.

[2020-10-19 14:56] jcant0n commented on #92
Awesome! this is working now.

![image](https://user-images.githubusercontent.com/1783366/96468151-0532ac00-122c-11eb-8e7f-4ccd90f48996.png)

[2020-10-19 14:56] #92 closed

[2020-10-22 06:05] mmusu3 opened #93 "IXAudio2.CreateSubmixVoice missing & XAudio2Fx API request"
Hi, I would like to migrate from SharpDX to Vortice.Windows, however some APIs are missing including this one:
https://docs.microsoft.com/en-us/windows/win32/api/xaudio2/nf-xaudio2-ixaudio2-createsubmixvoice

I would also like to have access to the XAudio2Fx APIs seen here:
https://docs.microsoft.com/en-us/windows/win32/api/xaudio2fx/

Edit: One other thing I just found I need is to be able to cre

[2020-10-22 08:38] amerkoleci commented on #93
CreateSubmixVoice + FX (Reverb + VolumeMetter)

[2020-10-22 08:57] amerkoleci commented on #93
Added AudioBuffer ctor with IntPtr data as well.

[2020-10-22 09:13] mmusu3 commented on #93
Wow! That was quick thanks. That should cover all the missing APIs. However now that I have my code migrated I am having a startup crash issue in I think one of the XAudio threads that I'm trying to figure out.

[2020-10-22 09:40] amerkoleci commented on #93
Ok, next is probably xapo bindings but not priority for me now.

[2020-10-22 09:49] mmusu3 commented on #93
I don't know what is causing this issue, sometime after CreateMasteringVoice has been called a System.ExecutionEngineException happens on an unnamed thread in an unknown module. Unfortunately I will have to continue with SharpDX for now.
Since the original topic of this issue has been addressed I will close it now. Thank you again for your swift response. I may open a new issue later when I get mo

[2020-10-22 09:49] #93 closed

[2020-10-22 10:00] amerkoleci commented on #93
Not sure why wasting time when you wanted to keep on SharpDX, anyway no problem.
Happy to help out.

[2020-10-22 11:32] mmusu3 commented on #93
No no! I don't want to stay with SharpDX but I have code that still works with it. I am trying to migrate to Vortice.Windows but am having an issue when switching over, as mentioned above. I will keep trying to get Vortice to work but cannot figure out what is happening at the moment.
I very much appreciate your effort here and don't want it to go to waste, but in the mean time I must keep using t

[2020-10-22 14:56] mmusu3 opened #94 "Runtime crash due to IXAudio2EngineCallbackShadow.Vtbl getting garbage collected"
The Vtbl property implementation for `IXAudio2EngineCallbackShadow` creates a new object every time the getter is called as seen here:
https://github.com/amerkoleci/Vortice.Windows/blob/ecb7c15a4b2ca3e1bc8ebb3722f886acb0c4fdb2/src/Vortice.XAudio2/IXAudio2EngineCallback.cs#L20

The created VTable object is never stored anywhere and so gets garbage collected. This causes the delegate pointers to bec

[2020-10-22 14:57] mmusu3 commented on #93
I think I found the issue I am having. https://github.com/amerkoleci/Vortice.Windows/issues/94

[2020-10-22 15:10] amerkoleci commented on #94
Just pushed commit, tell me if it fixes the issue you're having?

[2020-10-22 15:28] mmusu3 commented on #94
Yes! It appears to all be working correctly now. Thank you again, now maybe I can drop SharpDX for good.

[2020-10-22 15:33] mmusu3 commented on #94
Oh no! I forgot one other thing I noticed, `EngineCallbackImpl` implements `ICallbackable.Shadow` but it is already implemented by its base class `CallbackBase`

[2020-10-22 16:41] mmusu3 commented on #94
Closing now. I will open new issues for any future problems.

[2020-10-22 16:41] #94 closed

[2020-10-30 16:03] konstantinegorov opened #95 "missing array length argument"
There are methods in which the "array-length" argument is missing:
[code]
Currently, I need to allocate an array of a specific size on every api call, which generates a lot of garbage. If I can specify the length of the array, I will preallocate one array and use its subrange between many calls.

[2020-11-01 10:14] #95 closed

[2020-11-16 13:15] limocute opened #96 "Compile in visual studio 16.8.1 Vortice.XAudio2 fail"
**Describe the bug**
Compiling in visual studio 16.8.1[ Vortice.XAudio2 ]Failed. It seems to be a problem after upgrading visual studio

**To Reproduce**
Steps to reproduce the behavior:
1.Pull the latest source code
2.Compiling solutions

**Expected behavior**
All projects of the solution were compiled successfully

**Desktop (please complete the following information):**
 - OS: Windows10 19042.6

[2020-11-19 23:06] koosha72 opened #97 "Matrix4x4 and projection matrix creation"
**Is your feature request related to a problem? Please describe.**
I searched the entire source code and couldn't find an implementation of 4x4 matrix or methods like D3DXMatrixOrthoOffCenterLH.

**Describe the solution you'd like**
Implementing a complete 4x4 Matrix class and required methods to create ortho and perspective projection matrices.

[2020-11-23 07:28] amerkoleci commented on #97
Mathematics is not part of this project, you can use methods from System.Numerics.

[2020-11-23 07:28] #97 closed

[2020-11-23 10:11] amerkoleci commented on #96
This is bug with Visual Studio and not sure how I workaround it:
https://github.com/microsoft/STL/issues/1300

[2020-11-23 10:23] amerkoleci commented on #96
I've fixed it now

[2020-11-23 10:23] #96 closed

[2020-11-29 08:29] mellinoe opened #98 "Can't call ID3D11DeviceContext.CSUnsetUnorderedAccessView successfully"
**Describe the bug**
CSUnsetUnorderedAccessView is a helper function (over `CSSetUnorderedAccessViews`) that's supposed to unset a particular UAV slot. However, it seems to marshal the third parameter incorrectly and triggers an error. Output from the debug layer when it's enabled:

[code]

I didn't dig too much into the Vortice code, but perhaps the third parameter is being marshalled as a null p

[2020-11-30 11:02] amerkoleci commented on #98
Thanks @mellinoe  for brining this, it has been fixed now.

[2020-11-30 11:02] #98 closed

[2020-12-20 09:58] shartte opened #99 "RSGetScissorRects does not offer a variant that returns count"
**Describe the bug**
These are the variants of RSGetScissorRects that I can see:
[code]

**Expected behavior**
I think in the second variant, `count` should be a `ref` parameter, since there's otherwise no way of actually getting the bound number of scissor rectangles.

It's theoretically possible to "detect" unbound scissor rectangles by comparing members of `rects` against `0`, but this seems un

[2020-12-20 19:48] shartte opened #100 "AddRef delegate is not being kept alive for IDWriteFontCollectionLoader"
**Describe the bug**
Writing a custom IDWriteFontCollectionLoader implementation in C# is impossible since Vortice does not keep the AddRef delelgate in the shadow alive such that making use of the loader will result in the following error:

[code]

**To Reproduce**
Test Program:

[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - .NET 5

[2020-12-21 07:46] #100 closed

[2020-12-21 08:53] amerkoleci commented on #99
Fixed now, closing.

[2020-12-21 08:53] #99 closed

[2020-12-25 01:54] h1cks opened #102 "Is this correct Usage of IntPtr for Shaders"
Interested in knowing the correct handling of memory within Vortice Windows, and if I'm over thinking what I will need to do to move from Sharpdx to Vortice.

For instance, example:

[code]

Versus

[code]

Happy to contribute example/sample code to your code base as well.  Once I have my head around how to use Vortice.

[2020-12-26 08:04] amerkoleci commented on #102
Will add shader compiler method that takes steam as input and return nullable Blob

[2020-12-26 08:04] h1cks commented on #102
Not a problem, I realised Im over thinking the implementation.  I feel silly

[2020-12-26 08:05] h1cks commented on #102
I've basically worked it out now.  Updating Code samples.

[2020-12-26 08:07] h1cks commented on #102
Keep with me, I sometimes read too much into an implementation and go off the rails.

[2020-12-26 08:35] #102 closed

[2020-12-27 21:16] h1cks opened #103 "DX11 Media Foundation / DX12 Video Decoding Plans"
Are there plans to look at looking at these 2 sets of APIs for Vortice.Windows.

If not, happy to look at alternatives.   Great work on the implementation btw.

[2020-12-27 21:26] amerkoleci commented on #103
Of course yes, as described in readme new proposal goes through sponsor part, i will gladly implement it if you plan to somehow sponsor my profile, it's spare time project and need to allocate time for it.

[2020-12-27 21:43] h1cks commented on #103
Yes, was thinking of sponsoring you.  Appreciate the effort.

[2020-12-27 21:45] amerkoleci commented on #103
Don't feel forced to do so :) was just telling you the situation, thanks for bringing some feature requests as well

[2020-12-27 21:48] h1cks commented on #103
I don't feel forced, hehhe  :D  Appreciate it, this API is the only DX 11 C# implementation going forward.  I work hard on my own game and personally feel my own pressure that as the .NET platform goes forward.  This API gives me the chance to work on my projects going forward (without having to jump to c++!)

[2020-12-28 07:47] amerkoleci commented on #103
First of all, thanks for sponsoring me, second I'm working on C# game engine/framework with focus on net5 core and future net6 (https://github.com/amerkoleci/alimer_sharp)

[2020-12-28 08:04] h1cks commented on #103
Not a problem on that front.  You've done a ton of work on the platform since Sharpdx was closed off.

My game project can be found here [Youtube channel](https://www.youtube.com/channel/UCQgOLROabm_1W6NIsa0koBw) and https://insanesoftware.itch.io/pacific-strafe-alpha

I will fork your project and have a look at a couple of things.  DirectInput although old, is something I still need.  I might hav

[2020-12-28 08:07] amerkoleci commented on #103
Wow, that game looks sick, you've done all by yourself? editor etc?

[2020-12-28 08:19] h1cks commented on #103
Yeah, started in june 2016, from scratch.  The whole game engine is my own, as well as the tooling, I wrote a level editor and object editor as well. Use Blender for the model creation.  Some of the model donated to me by some very generous modellers.

I moved to the SDK type builds in VS 2019 and was able to update to .NET 5.0 still while using Sharpdx 4.2.0.  Performance improvement on the CPU s

[2020-12-28 08:27] amerkoleci commented on #103
Yeah, I plan to move vortice.windows to target net5 soon and remove netstandard 2.0 support.

[2020-12-28 13:18] amerkoleci commented on #103
Direct3D12 Video bindings just landed and Direct3D12 has been moved to target net5 now.

[2020-12-29 01:37] h1cks opened #104 "X3DAudio LoopInfinite missing from Vortice.XAudio2 1.8.41"
**Describe the bug**
LoopInfinite constant is not generated into the IXAudio2.cs file (from my investigations) - Vortice.XAudio2 1.8.41

I haven't pulled project and compiled myself.

**To Reproduce**
Steps to reproduce the behavior:

code sample:
_targetBuffer.LoopCount = IXAudio2.LoopInfinite;

Please close if its just that the constant is generating in the code base, but the latest version does

[2020-12-29 07:48] amerkoleci commented on #104
Somehow it ended being generated as part of AudioBuffer, now its fixed.

[2020-12-29 07:48] #104 closed

[2020-12-29 07:55] amerkoleci commented on #104
Version 1.8.46 contains the fix as well the D3D12 Video support added.

[2020-12-29 08:00] h1cks commented on #104
Cheers, I will be looking into generating the DirectInput and Media Factory bindings over the next couple of days.  I set up Directinput in my fork, spent a few hours on it.  if I figure out the issue with Joystick State, I will clean up the code and submit a PR.  But I feel that im modelling alot of it on the old Sharpdx approach, so may need your thoughts.  Appreciate your work on everything, no

[2020-12-29 09:32] h1cks commented on #104
<const from-macro="XAUDIO2_LOOP_INFINITE" type="int" cpp-type="int" name="LoopInfinite" class="Vortice.IXAudio2.IXAudio2" visibility="public const" />

needs to be,

    <const from-macro="XAUDIO2_LOOP_INFINITE" type="int" cpp-type="int" name="LoopInfinite" class="Vortice.XAudio2.IXAudio2" visibility="public const" />

Typo.  IXAudio2 = XAudio2

[2020-12-29 09:36] h1cks commented on #104
@amerkoleci - cant reopen ticket, but issue is just a typo.

[2020-12-29 09:38] amerkoleci commented on #104
Done, thanks!

[2020-12-31 06:05] h1cks opened #107 "OMSetRenderTargets does not accept Null as parameter for RenderTargetView"
**Describe the bug**
calling       _d3dDevice.ImmediateContext.OMSetRenderTargets((ID3D11RenderTargetView)null, (ID3D11DepthStencilView)null);
causes an Access Violation as the code trys to cast the rendertarget.datapointer where rendertarget is null.  Needs a check to see if null, if so, should do similar to unsetrendertargets.  Require this function as pointer passed may or maynot not be set by

[2020-12-31 07:24] h1cks commented on #107
Just to add, it is quite valid to set omset to have a null rendertarget and a depthstencil.  This occurs when someone is attempting to create a shadow buffer.  Which is the issue I have, can't proceed with the rest of my testing till resolved.  But so far, so good on eveyrthing else.

[2020-12-31 07:28] h1cks commented on #107
suggested solution

[code]

[2020-12-31 07:40] #107 closed

[2020-12-31 09:43] h1cks opened #108 "Possible Bug - IXAudio2.CreateSourceVoice"
**Describe the bug**
Crash occurs on any call to this function.
[code]
The source buffer waveformat is populated as

[code]

seems to be an issue either with the function, or how im populating the WaveFormat.  At the moment, can't load.

[2020-12-31 10:00] h1cks commented on #108
reviewing the code, for waveformat, I can only assume that the alignment is correct

Reviewing the standard.

https://docs.microsoft.com/en-us/windows/win32/api/mmreg/ns-mmreg-waveformat?redirectedfrom=MSDN

WaveFormatEncoding is a WORD size, in WaveFromatEncoding, its using an Enum which is DWord Size.

[code]

[2020-12-31 11:06] h1cks commented on #108
The issue has been found, will need to bring in SoundStream from Sharpdx to parse the header on the file.

[2020-12-31 21:06] #108 closed

[2021-01-01 11:13] h1cks opened #110 "DataStream Write is overwriting memory"
**Describe the bug**
Executing a write to the stream from a byte buffer overwrites memory space by gigabytes.

Code sample

[code]

where as

[code]

works fine.

[2021-01-01 11:15] h1cks opened #111 "d3dDevice.CreateTexture2D(texture2d, subresouredata[]) function possible issue."
**Describe the bug**
Creating a subresourcedata buffer and passing a datapointer causes an exception (DX invalid parameter)

[code]

where as

[code]

is functional.

[2021-01-01 11:24] amerkoleci commented on #110
Can you try DataStream.Create method and pass pixel data there? Otherwise try the WriteRange just to see which method causes trouble?

[2021-01-01 11:24] amerkoleci commented on #111
Enable native debugging and can you report the error d3d11 debug layer reports?

[2021-01-01 11:31] h1cks commented on #110
Tested create, I get a "Attempted to read or write to protected memory", similar to the Write issue before

[2021-01-01 11:37] h1cks commented on #110
tested WriteRange, didnt throw an exception, but overwrote large amounts of memory.

some issues.

[2021-01-01 11:40] h1cks opened #112 "Suggestion - Add BasePointer to DataStream"
PositionPointer is handy, and needed, but would suggest that BasePointer also available, so that an absolute address can be referenced without having to reset Position.

[2021-01-01 11:43] h1cks commented on #110
Will test tomorrow more, will check this thread.  long day.

@amerkoleci

[2021-01-02 01:42] h1cks commented on #111
SubresourceData rect_ = new SubresourceData(buffer_.PositionPointer. stride_);

fixed it.  Debug layer showed an error on the exception I caught.  Think this was just down to missing something silly.

[2021-01-02 01:42] #111 closed

[2021-01-03 15:53] #110 closed

[2021-01-04 07:53] amerkoleci commented on #112
Would you mind to release PR?

[2021-01-04 08:30] h1cks commented on #112
Will do tonight.

[2021-01-04 10:12] #112 closed

[2021-01-16 16:06] shenzhou05 opened #117 "DXC container reflection loading exception."
Hi, amerkoleci. Would you like to add support for mesh shaders and variable rate shading in DirectX 12 Ultimate?
https://github.com/microsoft/DirectX-Graphics-Samples/blob/master/Samples/Desktop/D3D12MeshShaders
https://github.com/microsoft/DirectX-Graphics-Samples/tree/master/Samples/Desktop/D3D12VariableRateShading

[2021-01-16 16:09] amerkoleci commented on #117
Its already supported, what did you find wrong?

[2021-01-16 16:15] shenzhou05 commented on #117
I can't compile MS shader with DXC.

[2021-01-16 17:28] amerkoleci commented on #117
Any chance I can get more info? What errors you got? This way I'm gonna close the issue

[2021-01-17 06:17] shenzhou05 commented on #117
This is how i get shader reflection：

public static ID3D12ShaderReflection GetShaderReflection(string source)
{
    var library = Dxc.CreateDxcLibrary();
    var sourceBlob = Dxc.CreateBlobForText(library, source);
    var loader = Dxc.CreateDxcContainerReflection();
    loader.Load(sourceBlob);
    loader.FindFirstPartKind(Dxc.DFCC_DXIL, out var partIndex);
    loader.GetPartReflection(partIndex,

[2021-01-18 11:11] amerkoleci commented on #117
Modern DXC API just landed, here you can see how I compile shader with modern dxc compiler and getting the D3D12 reflection https://github.com/amerkoleci/Vortice.Windows/blob/main/src/samples/Vortice.SampleFramework/D3D12GraphicsDevice.cs#L190

[2021-01-18 11:11] #117 closed

[2021-01-18 16:19] shenzhou05 commented on #117
Thanks.

[2021-01-26 15:28] SomeAnonDev opened #119 "Invalid IL in Interop.Read"
The JIT crashes when trying to compile the [Interop.Read](https://github.com/amerkoleci/Vortice.Windows/blob/a95812c1ee6ef9f5edbdf400d27f5c320e999599/src/Vortice.DirectX/Interop.cs#L21) method
![image](https://user-images.githubusercontent.com/6377116/105865472-05e59600-6004-11eb-8de1-2f441463f4c3.png)

Here's a repro project: [vortice-invalid-il](https://github.com/SomeAnonDev/vortice-invalid-il)

[2021-01-27 07:26] amerkoleci commented on #119
Where it happens? Code snippet? Stack trace?

[2021-01-27 13:23] SomeAnonDev commented on #119
Not sure what exactly you're asking for since I've already provided a repro project.
I did some more experimentation though, and I'm pretty sure it's a SharpGen issue.
Here's [another repro project](https://github.com/SomeAnonDev/sharpgen-invalid-il) that doesn't even reference Vortice, but contains a Read method identical to the one in Vortice.
I don't believe there's anything wrong with your ``R

[2021-01-27 16:05] SomeAnonDev commented on #119
For now there is a workaround — we could rewrite the ``Interop`` methods to use SharpGen's ``MemoryHelpers`` class. They're implemented more or less the same way, but their IL remains unaffected by SharpGen's own assembly patcher, which means there'll be no crashes.

[2021-01-27 16:06] amerkoleci commented on #119
Thanks for info, if you don't mind send PR, thank you :)

[2021-01-28 12:41] SomeAnonDev commented on #119
Looks like I was wrong after all, and it's not gonna be as easy as rewriting the ``Interop`` methods to use ``MemoryHelpers``. I've confirmed that SharpGen 2.0 won't have this issue, but it might take a while before it releases. Perhaps it's worth submitting a fix to the 1.x branch.

[2021-01-29 01:04] mikestek commented on #119
A quick workaround could be to rename the Interop class so that SharpGen won't touch it.
Can follow their example and call it MemoryHelpers.
I tested locally and it's working.

I can make changes throughout the solution and create a PR if this solution is liked.

[2021-01-29 01:07] SomeAnonDev commented on #119
True, but that would be a breaking changing since the Interop class is public, for whatever reason. That's why I didn't even mention this option.

[2021-01-29 01:44] mikestek commented on #119
Here's an idea:
Leave an Interop class for the functions that work (forward call to MemoryHelpers, will still be rewritten and inlined by SharpGen) and mark with Obsolete attribute.

Mark broken functions as Obsolete too and note that they are broken plus make them throw NotImplementedException with the same note that the functions are broken. This works since if they are broken with invalid IL th

[2021-01-29 02:01] SomeAnonDev commented on #119
SharpGen would still rewrite them though — it doesn't care what the original code does and whether the method is marked as Obsolete.

[2021-01-31 09:42] amerkoleci commented on #119
I will fix it soon, we'll move to MemoryHelpers and  rename to InteropUtilities

[2021-02-01 15:56] amerkoleci commented on #119
The latest 1.9.4-beta packages should work, please test it so I can release stable 1.9.5.

Thanks

[2021-02-02 13:12] #119 closed

[2021-02-03 18:04] SomeAnonDev commented on #119
@amerkoleci Thanks. I'm no longer seeing any crashes.

[2021-02-19 10:43] bettina4you opened #121 "shader compiling with Mircrosoft dxc API: include file problem"
First of all, a big thanks for your work and providing this code !!!

When compiling with the dxc compiler with dxc api i have to place full qualified pathes => compiling is fine

e.g.
#include "C:\shaders\lighting\common.inc"

when using relative paths:

e.g.
#include "..\lighting\common.inc"
#include ".\lighting\common.inc"

even when the include file is in the same folder as the primary source

[2021-02-21 15:52] bettina4you commented on #121
i could find the solution of my problem. ( By try an error. )

during compiling of the shaders  by c# api dxcompiler.dll, ( dxil.dll ) is called.

The directory in which the dll is located is seen as the base path to all include references in the shader

=> important  the path, where the master shader file is placed is absolutely NOT relevant.

e.g.
myproject/bin/release/myprog.exe
myproject/bin/r

[2021-02-21 15:52] #121 closed

[2021-02-23 07:37] mrcoffeeee opened #122 "Vortice XAudio2 causing exception on latest Windows"
I want to use XAudio2 for a NET project but as soon as I initiate the IXAudio device an exception is thrown saying that my platform is not supported. I use the latest Windows 10 updates (release) and Visual Studio 2019 with NET 4.7.2. See the attached image.

1. Create a NET console or Winforms project
2. Add Vortice XAudio2 from Nuget
3. Create an IXAudio device
4. Run the code

**Expected behavi

[2021-03-03 13:47] BMarques commented on #39
I'd like to bring this topic back, although DirectInput is quite legacy, it's the only means to deal with joysticks and force feedback such as Steering Wheels.

[2021-03-05 14:46] amerkoleci commented on #122
It works well for me, new console application targeting net5.

[2021-03-13 03:22] manuelxmarquez commented on #122
I just ran into the same error. I got the exception:

[code]

It seems the native assemblies are not being copied to the output folder properly. I dug around the code and found that there is a _targets_ file being added to the NuGet package but it doesn't work, probably because it is in the wrong location. Also, it is not in the multi targeting folder either. It did work for one target framework b

[2021-03-13 07:09] amerkoleci commented on #122
Thanks for kind words and PR, feel free to share screenshots or something else of your game engine in discussions

[2021-03-13 07:09] #122 closed

[2021-03-13 09:53] mrcoffeeee commented on #122
Hello, sorry i hadn´t much time to respond quickly enough. Using Netcore 3 or NET5 solved this issue for me. I ported the app to NET5 but I am still wondering as the last legacy NET (4.7, 4.8) versions should also fit into the NET2 standard.

[2021-03-13 10:28] mrcoffeeee commented on #122
but i ran into another issue thats probably something new. I managed to use the reverb with the reverb presets but somehow some of them work (like the "Default") and some not (like the "Arena")

`var xaudio2 = new IXAudio2(ProcessorSpecifier.DefaultProcessor);
            var mv = xaudio2.CreateMasteringVoice(1, 48000);

            var reader = new NAudio.Wave.WaveFileReader("TEST.wav");

[2021-03-13 17:03] manuelxmarquez commented on #122
I had a multi targeting project and it worked for .NET Core but not the legacy framework. I think it is because the newer frameworks recognize the special runtimes folder in the NuGet package but not legacy frameworks.

I also just checked and tested that the target is not needed in the buildMultiTargeting folder and submitted a PR to keep the code clean.

I have no idea about your reverb issue, s

[2021-03-14 09:29] mrcoffeeee commented on #122
thanks for checking :) i played around with reverb values and it seems that changing parameters does not have any effect. I built the same xaudio2 setup on c++ and it works. It might be that the default parameters never get changed or am I doing something fundamentally wrong?

`var revpar = new Vortice.XAudio2.Fx.ReverbParameters
            {
                WetDryMix = 100,
                RoomF

[2021-03-14 09:36] amerkoleci commented on #122
Can you open new issue please so we can track independently?

[2021-03-14 16:58] mrcoffeeee opened #125 "XAudio2 reverb presets cause playback silence"
Hello,

I have set a simple xaudio2 setup with a sourcevoice and want to apply the reverb effect with the reverb presets on it. With the default reverb parameters (like "Default" or  "Plate") there is some kind of reverb audible but some of the presets (like "Arena") result in silence when doing the playback. Also the audible presets sound very similar or the seem to sound the same (its hard to sa

[2021-03-16 22:06] manuelxmarquez commented on #125
I couldn't compile your code, I had to change the constructor to this:
`var xaudio2 = XAudio2.XAudio2Create(ProcessorSpecifier.UseDefaultProcessor);`

I tested the underwater effect since it would probably be obvious but I couldn't tell a difference.
`var revpresetspar = Vortice.XAudio2.Fx.Presets.UnderWater;`

I haven't looked into it more than that. Might want to reference a Microsoft tutorial a

[2021-03-20 14:09] mrcoffeeee commented on #125
i prepared a xaudio2 c++ demo and updated the uploaded vortice xaudio2demo with reverbparameters. All are set to the standard values. In the c++ version changed effectparameters are audible. In the the vortice demo nothing happens at all

[C++ XAudio2Test2.zip](https://github.com/amerkoleci/Vortice.Windows/files/6175741/C%2B%2B.XAudio2Test2.zip)
[C# Xaudio2VorticeTest.zip](https://github.com/amerk

[2021-03-21 16:46] DaniilSokolyuk commented on #42
@diogotr7 swap arguments here
`device.ImmediateContext.CopyResource(tempTexture, currentFrame);`

[2021-03-21 17:25] diogotr7 commented on #42
Thanks @DaniilSokolyuk , thankfully i ended up figuring this out and forgot about this issue. The arguments being in a different order than in SharpDX is confusing.

I've published this sample [here](https://github.com/diogotr7/DesktopDuplicationSamples) in case it is useful to someone else.

[2021-03-21 17:28] amerkoleci commented on #42
Why would SharpDX change order than native is confuse not the vortice ones.

Anyway glad you sorted out, closing.

[2021-03-21 17:28] #42 closed

[2021-03-22 08:25] amerkoleci commented on #125
I tried to improve the effect logic to avoid the copy and some marshal logic, can you try now?

[2021-03-23 23:19] mrcoffeeee commented on #125
okay i tried that but it doesn´t change anything. Whats really strange is when i set the effectindex to "1" like this
`sourceVoice.SetEffectParameters(1, revpar);`
i get a reverbeffect but changing parameters does not have any effect. Setting the index to 0:
`sourceVoice.SetEffectParameters(0, revpar);`
just gives me the dry sound.

Doing this with a reverb presets also results in the standard rev

[2021-03-31 22:16] dbruning opened #129 "Headless?"
**Is your feature request related to a problem? Please describe.**
I would like to write unit tests which output rasterised 3D scenes. Generally unit test frameworks don't like to have to instantiate windows, so I wonder if it's possible to use Vortice.Windows without a window at all.
As a specific request, it would be great to see a sample in this repo which renders a scene without requiring a wi

[2021-04-01 06:39] amerkoleci commented on #129
This was something I had in mind to do, will prepare Direct3D11 (if possible Direct3D12) example of offscreen rendering.

[2021-04-01 06:52] dbruning commented on #129
Awesome, thankyou

[2021-04-01 12:53] amerkoleci commented on #129
Here you go,
You can run the Direct3D11 example and press "P" and it will take Screenshot.jpg otherwise if you enable headless mode it will automatically capture Screenshot.jpg.

https://github.com/amerkoleci/Vortice.Windows/blob/main/src/samples/HelloDirect3D11/Program.cs#L62

Hope it helps

[2021-04-02 03:00] dbruning commented on #129
That works great, thankyou! Are you planning to push new nugets anytime soon?

[2021-04-02 06:31] amerkoleci commented on #129
You can grab the package from nuget:
https://www.nuget.org/packages/Vortice.Direct3D11/1.9.29-beta

[2021-04-03 11:36] orangeagain opened #131 "[function request] create a c# wrap for UVAtlas"
this .Net binding is so cool, but to this day c# still lack UV unwrap funtion
UV unwrap is important part of game engine.Especially to generate light map uv and program generated mesh's uv.
Fortunately, mircosoft open source code of [UVAtlas](https://github.com/microsoft/UVAtlas)form DirectX.
I have sponsored this idea. Would you like to bind that?

[2021-04-03 11:49] amerkoleci commented on #131
Hi,
Thanks for sponsoring me and the idea of uvatlas, probably I would port a C# version instead of invoking the native library, not sure if it will be part of this repo or standalone library.

Will keep you updated.

[2021-04-03 15:38] orangeagain commented on #131
Thank for you agree my proposal.
You might think this problem too complicated.There are easy way to bring UVAtlas for all c# developer.
Someone created [.net wrap of uvatlas](https://www.nuget.org/packages/UVAtlas.NET/) on nuget, but that is close source code,and windows x86 only.
Fortunately UVAtlas official native library support compile to ARM and Linux.Mircosoft help us save lots of work.
Actu

[2021-04-03 17:25] amerkoleci commented on #131
Okay,
I will create C layer around uvatlas and generate the C# layer, keep around I will inform you soon.

[2021-04-04 22:02] dbruning commented on #129
Thanks!

[2021-04-04 22:02] #129 closed

[2021-04-05 08:59] amerkoleci commented on #131
I started to look around and probably its not that easy as UVAtlas returns dynamic sized vectors, probably bridging from C layer is not easy as whole vortice.windows bindings, the options are C++/CLI layer which I don't really like or C# port, will see how this request fits in vortice.windows roadmap.

[2021-04-05 09:55] andrew-boyarshin commented on #131
What about creating an `Windows.Foundation.IVector`-like COM interface that will have `GetData(out IntPtr)`, `GetSize(out uint)`, etc? This way you can bind to it using SharpGen and wrap the C++ APIs using STL containers. On C# side you can then wrap the acquired data and provide an `IList` implementation.

[2021-04-05 09:59] amerkoleci commented on #131
For now I'm return result and then I have the delete function, but if you have something cool I can adopt later:
https://github.com/amerkoleci/UVAtlas/blob/master/UVAtlas/c/layer.cpp

The binding will be here:
https://github.com/amerkoleci/Vortice.UVAtlas

[2021-04-05 10:09] amerkoleci commented on #131
@orangeagain if you have some C# code I can test the library with please share it, thanks :)

[2021-04-06 09:14] amerkoleci commented on #129
Nuget stable release 1.9.41 just landed.

[2021-04-10 23:52] h1cks opened #133 "Vortice Mathematics 3.1.18 has conflict issues with V1.9.41 Vortice Windows"
Installing the latest version of Vortice mathematics give me a number of errors relating to linking.

If I revert to 3.1.14 then the issue disappears.

Below, sample of errors

[code]

[2021-04-11 02:13] andrew-boyarshin commented on #133
3.1.18 is strong-name signed, 1.9.41 is not. This causes assembly binding to fail. @amerkoleci maybe release a version (at least preview one) that is based on latest main branch (with strong name signing)?

[2021-04-11 06:40] amerkoleci commented on #133
Give me 2 hours and I will release new nuget version

[2021-04-11 08:09] amerkoleci commented on #133
https://github.com/amerkoleci/Vortice.Mathematics/runs/2316304495?check_suite_focus=true

What happened?

[2021-04-11 08:10] andrew-boyarshin commented on #133
Feels like NuGet feed is gone.

[2021-04-11 08:15] andrew-boyarshin commented on #133
Try adding <https://github.com/dotnet/templating/blob/main/template_feed/Microsoft.DotNet.Common.ItemTemplates/content/Nuget/nuget.config> to the repo root? My working theory is that hosted GitHub Actions agent pool images were updated and now have NuGet.config misconfiguration.

[2021-04-11 08:17] andrew-boyarshin commented on #133
Confirmed. <https://github.com/actions/virtual-environments/issues/3038>

[2021-04-11 08:19] amerkoleci commented on #133
Now it works.

[2021-04-11 08:21] andrew-boyarshin commented on #133
Btw, I meant releasing a new Vortice.Windows version, not the Vortice.Mathematics. To make both packages strong name signed.

[2021-04-11 08:58] amerkoleci commented on #133
Just released 1.9.45 stable release on nuget, please try it.

[2021-04-12 09:07] #133 closed

[2021-04-12 13:37] andrew-boyarshin opened #134 "Internal DWrite.TryGetFontTable with no wrapper"
`IDWriteFontFace::TryGetFontTable` shouldn't be internal or should have some convenience wrapper like SharpDX apparently had.

[2021-04-12 13:44] andrew-boyarshin opened #135 "D2D1_COMPOSITE_MODE renaming is horrible"
E.g. `DestinationInationIn` for `D2D1_COMPOSITE_MODE_DESTINATION_IN`. To be determined if SharpGen is to blame.

[2021-04-12 16:38] andrew-boyarshin opened #136 "Proposal: unblock property generation"
I propose removing `property="false"` from the bindings. Now the bindings are inconsistent: sometimes they use generated properties, sometimes they block them. There is no definitive rule at the moment. If someone consumes bindings, they have to check which variant is used in each case. I believe small deviations from C++ headers in situations like these are justified. Moreover, I want the mapping

[2021-04-13 10:56] andrew-boyarshin commented on #135
I don't think it's SharpGen's fault. Unlike SharpDX, Vortice extensively uses `<naming />` mapping directive, which defines high-priority renaming rules. `DEST` and `DST` both match for `DESTINATION` part, the longest one is used. That's how we get `DestinationInation`.

[2021-04-13 11:01] amerkoleci commented on #134
Fixed in latest commit.

[2021-04-13 11:01] #134 closed

[2021-04-13 11:01] amerkoleci commented on #135
Fixed in latest commit.

[2021-04-13 11:01] #135 closed

[2021-04-13 11:03] andrew-boyarshin commented on #135
I was thinking more along the lines of `NoShortNameExpand` as `NamingRule`, but this will work too. I'll build the packages and check if Avalonia requires more fixes.

[2021-04-13 11:07] amerkoleci commented on #136
I agree, some job has started, will keep this issue updated once done.

[2021-04-13 15:55] SomeAnonDev opened #137 "Crash in IWICImagingFactory.CreateStream"
Calling ``IWICImagingFactory.CreateStream`` simply never succeeds: it crashes with either an access violation or a null reference exception. This might be a regression, since I don't remember having issues like that with an earlier version of Vortice (it was probably 1.8.x).

[Here is a repro project](https://github.com/SomeAnonDev/vortice-wic-crash), but really it's just 3 lines of code:
[code]

[2021-04-13 16:54] amerkoleci commented on #137
Not sure why.

In the example here works:

https://github.com/amerkoleci/Vortice.Windows/blob/main/src/samples/HelloDirect3D11/Program.cs#L167

[2021-04-13 17:15] amerkoleci commented on #137
@andrew-boyarshin can there be any issue with ComStreamProxy?

[2021-04-13 17:18] andrew-boyarshin commented on #137
@amerkoleci I'll take a look tomorrow.

[2021-04-14 06:42] amerkoleci commented on #137
[code]

[2021-04-14 07:02] andrew-boyarshin commented on #137
This will likely require new SharpGen release. I'll have time to debug and fix this issue ~6 hours from now.

[2021-04-14 12:43] andrew-boyarshin commented on #137
Yeah. I've got the whole pack (using custom Checked runtime):

[code]

[code]

What is worse, my initial theory has been disproved. I'll need to rethink my approach to debug this issue.

[2021-04-14 14:43] andrew-boyarshin commented on #137
windowscodecs crashes when trying to dereference the location of `AddRef` (vtbl[1]) method in `ComStreamProxy` Vtbl. The memory where the vtbl is supposed to be located is not mapped into memory (possibly already released to Windows NT kernel or never valid in the first place). One of the last SharpGen.Runtime methods to execute is the following stack:
[code]

It takes place during execution of na

[2021-04-14 14:48] amerkoleci commented on #137
What changed? Why it worked before?

[2021-04-14 14:50] andrew-boyarshin commented on #137
That's a question I'm now trying to figure out an answer to. :)

[2021-04-14 15:52] andrew-boyarshin commented on #137
Extra `AddRef` to `_streamProxy` in `IWICStream` is a workaround (and doesn't cause leaks). I don't think it's a correct solution. I continue figuring out how to fix it.

[2021-04-14 16:07] andrew-boyarshin commented on #137
Using `SharpGen.Runtime.COM` version 1.2.0 with current 2.0 codegen results in the crash even with extra `AddRef`.

[2021-04-14 16:19] andrew-boyarshin commented on #137
The same codegen with the last `Vortice.Runtime.COM` works fine without `AddRef`. Unfortunately, I've run out of time today. I will continue working on this issue tomorrow.

[2021-04-15 12:28] andrew-boyarshin commented on #137
Last `Vortice.Runtime.COM` works fine without `AddRef` with 2.0 beta 6 codegen using 1.2.1 SharpGen.Runtime, crashes with 2.0 SharpGen.Runtime.

[2021-04-15 12:32] amerkoleci commented on #137
Why that? Maybe you changed IStream shadow generation code?

[2021-04-15 12:34] andrew-boyarshin commented on #137
I don't think the problem is in Runtime.COM. It's likely in SharpGen.Runtime (or the code generated for it).

[2021-04-15 12:52] andrew-boyarshin commented on #137
SharpGen.Runtime 1.2.1 with latest 2.0 codegen and latest 2.0 SharpGen.Runtime.COM works fine. Will start bisecting now.

[2021-04-15 13:04] andrew-boyarshin commented on #137
Guilty commit <https://github.com/SharpGenTools/SharpGenTools/commit/4b557690c6bc81ad8594396dfcf16800a5410b69> found!

[2021-04-15 13:09] andrew-boyarshin commented on #137
I've confirmed reverting it fixes the issue with latest versions of everything.

[2021-04-15 13:25] andrew-boyarshin commented on #137
I don't know where did the behavior @nerzhulart implemented come from. [According to MS Docs](https://docs.microsoft.com/en-us/windows/win32/api/unknwn/nf-unknwn-iunknown-release) `Release` should dispose of its resources when reference count reaches zero after decrement. So comparison really should be `if (newRefCount == 0)` instead of `if (newRefCount == 1)`. I guess that's why JetBrains team ne

[2021-04-15 15:32] andrew-boyarshin commented on #137
2.0.0-beta.7 contains the fix.

[2021-04-15 17:09] amerkoleci commented on #137
@andrew-boyarshin thanks, @SomeAnonDev can you please try with latest build so I can release new nuget package release?

[2021-04-15 17:19] SomeAnonDev commented on #137
I can confirm installing 2.0.0-beta.7 fixes this particular issue, but now there's a slightly different one. Check out the latest commit in the repro repo.

[2021-04-15 17:49] amerkoleci commented on #137
What issue you have now?

[2021-04-15 17:51] SomeAnonDev commented on #137
The crash is now at line 7:
[code]
![image](https://user-images.githubusercontent.com/6377116/114915479-4814bb80-9e2c-11eb-9b61-38eeac55fa6a.png)

[2021-04-16 07:04] amerkoleci commented on #137
This seams a WIC issue, probably you need to initialize the stream from memory, indeed if you do:

[code]

It works

[2021-04-16 07:52] amerkoleci commented on #137
Will rework the API to accept only the memory part and hide the call to CreateDecoderFromStream.

[2021-04-16 07:58] andrew-boyarshin commented on #137
@amerkoleci are you sure this is the right way forward? IStream is pretty generic and should support fetching data on-the-fly. I'd postpone such changes until I can assess if the current behavior is intended.

[2021-04-16 08:13] amerkoleci commented on #137
Ok, for now I saw you cannot create decoder from IStream initialized from file, thats why you have:
https://docs.microsoft.com/en-us/windows/win32/api/wincodec/nf-wincodec-iwicimagingfactory-createdecoderfromfilehandle
https://docs.microsoft.com/en-us/windows/win32/api/wincodec/nf-wincodec-iwicimagingfactory-createdecoderfromfilename

[2021-04-16 08:18] SomeAnonDev commented on #137
Just FYI, this is how you would do this using SharpDX. Needless to say, it doesn't crash.
[code]

[2021-04-16 08:39] amerkoleci commented on #137
Well, not sure then, @andrew-boyarshin probably another marshal issue in SharpGen.Runtime

[2021-04-16 10:30] andrew-boyarshin commented on #137
Nullptr dereference on write happens in `CExternalStream::HrSeek` when calling `m_pIStream->Seek(nMove, seekOrigin, pnPosition)`.

[2021-04-16 10:43] andrew-boyarshin commented on #137
[MS Docs](https://docs.microsoft.com/en-us/windows/win32/api/objidl/nf-objidl-istream-seek) defines Seek parameter `plibNewPosition` to be optional. SharpGen is aware of that (at least in C++ model). However, it has generated the following code for Shadow Vtbl:
[code]
As you can see, when passed NULL as plibNewPosition it will create nullref (yay unsafe), and will attempt to assign the value there

[2021-04-16 10:51] amerkoleci commented on #137
Can we expect quick fix for this as well?

[2021-04-16 10:56] andrew-boyarshin commented on #137
[SharpDX](https://github.com/sharpdx/SharpDX/blob/ab36f12303e24aa60fe804866617716b6ded95db/Source/SharpDX/Win32/ComStreamShadow.cs#L72-L76) does check for null. The code was removed in SharpGen.Runtime.COM [1.1.0](https://github.com/SharpGenTools/SharpGen.Runtime.COM/commit/aa24751e4fa4a44049568255dcc65864202d4849) and the codegen for that became automatic (and wrong). I'll see if I can fix it fas

[2021-04-16 10:58] amerkoleci commented on #137
This has to be fixed on automatic shadow codegen as there can be different automatic callback shadows doing sl

[2021-04-16 12:01] andrew-boyarshin commented on #137
Unfortunately, this will take a full day to fix. I want to do it right (in marshallers), instead of doing a hack in a single place (in reverse callback codegen).

[2021-04-16 12:42] amerkoleci commented on #137
Ok don't worry, take your time :) and thanks for your effort

[2021-04-18 16:50] andrew-boyarshin commented on #137
This turned out to depend a lot on implementation details of different marshallers. The variable allocation is chaotic and not specified. The upcoming week I'm very busy and I will be unable to finish the work I've started in my branch. Sorry. For now this is a known regression from SharpDX, but the previous regression from SharpGen 1.2 was fixed, so this isn't really high priority.

[2021-04-18 17:04] amerkoleci commented on #137
Okay, no problem, take your time and keep me updated when new SharpGen beta is out! Thanks again.

[2021-04-19 20:47] lellid opened #139 "Access violation in IDirect3DDevice9.CreateTexture trying to create a shared texture"
Trying to create a shared texture with
`IDirect3DDevice9.CreateTexture((int width, int height, int levels, Usage usage, Format format, Pool pool, IntPtr sharedHandleRef)` results in an access violation. Same code with SharpDX works properly. In SharpDX, the sharedHandleRef argument is given as a ref argument, but here in Vortice it is given by value. I guess this could be the reason for the access

[2021-04-20 07:51] amerkoleci commented on #139
This has been fixed with https://github.com/amerkoleci/Vortice.Windows/commit/35d8492561ca85ad9064e423d7bce2be69d02e54, please try it and see if it works properly.

[2021-04-20 07:51] #139 closed

[2021-04-20 09:11] lellid commented on #139
Yes, it works now. Thanks!!!

[2021-04-28 16:53] amerkoleci commented on #137
Any news here @andrew-boyarshin?

[2021-04-28 16:56] andrew-boyarshin commented on #137
@amerkoleci I work on this almost every day. The changes are huge, I'm trying to simplify logic without breaking anything.

[2021-05-08 07:59] longlongago-k opened #140 "Name property of ID3D12Object can't settable."
ID3D12Object.Name.set() does not make sense.
User can call ID3D12Object.Name = "text";
But it does not work and ID3D12Object.Name always returns string.empty.

To instantly avoid this problem, I temporary use following extension.
[code]

[2021-05-08 08:25] amerkoleci commented on #140
That's because ID3D12Object doesn't have GetName method support, i thought it would work with GetPrivateData but it seams it doesn't work, i will remove the Name property getter at this point.

[2021-05-09 05:24] zgabi opened #141 "How to create custom text renderer?"
I'd like to create an own text renderer, but receiving the following exception in the textLayout.Draw call:
`HRESULT: [0x80070057], Module: [Unknown], ApiCode: [Unknown/Unknown],
`
The code:
[code]

MyTextRenderer is just an "empty" class, but none of the methods are called:
[code]

Thanks.

[2021-05-09 09:02] longlongago-k commented on #140
Thank you for the answer. I'll wait for the future support.

[2021-05-09 09:03] #140 closed

[2021-05-09 09:12] amerkoleci commented on #140
Actually just fixed it with the commit: https://github.com/amerkoleci/Vortice.Windows/commit/8e9e6e3bbf6764ac3d3fbd4ad0f3c6dd2eb13167

[2021-05-10 06:34] manuelxmarquez opened #142 "Add example for IDxcIncludeHandler"
It took me a while to get IDxcIncludeHandler working. It looks like a sample was partially started but not working and HelloDirect3D12 was failing to compile the shaders. I managed to get it working and you can check the following commit as a reference for someone trying to implement it: https://github.com/manuelxmarquez/Vortice.Windows/commit/5862641b8d71313147bffb64fc4ffaffee0af66b

Let me know

[2021-05-10 06:50] amerkoleci commented on #141
@andrew-boyarshin is this bug in automatic callback generation?

[2021-05-10 06:54] amerkoleci commented on #142
Same applies here @andrew-boyarshin, seams that the callback subclass doesn't get handle automatically as you can see here: https://github.com/manuelxmarquez/Vortice.Windows/commit/5862641b8d71313147bffb64fc4ffaffee0af66b#diff-f6bc4bcc14707dc071d869eef52fd5b27b468230d4930b13b1f03f96b21da14dR44

[2021-05-10 07:13] manuelxmarquez commented on #142
Sorry, that was my first attempt. I later discovered it could be simplified to this https://github.com/manuelxmarquez/Vortice.Windows/commit/7ca1f72790f6f013c7c845a439f95f1e41ba5906

[2021-05-10 07:17] manuelxmarquez commented on #142
When I was digging through the code I rewrote the classes because I thought the problem was here:
https://github.com/SharpGenTools/SharpGenTools/blob/0f77606717479d020c785f7ad435c95e0c738ba4/SharpGen.Runtime/MarshallingHelpers.cs#L22-L41

If the class derives from `CppObject` then the shadow is not used. It seems inheriting from `CallbackBase` instead gets around the problem.

[2021-05-10 07:28] #142 closed

[2021-05-10 07:36] amerkoleci commented on #142
With next commit I'm updating to DX Compiler release for April 2021, stay tuned

[2021-05-10 08:53] andrew-boyarshin commented on #142
Yeah, `CppObject` is for unmanaged impls, `CallbackBase` is for managed impls.

[2021-05-10 08:54] andrew-boyarshin commented on #141
I'll take a look.

[2021-05-14 08:15] amerkoleci commented on #141
@andrew-boyarshin any news here?

[2021-05-14 08:23] andrew-boyarshin commented on #141
No, I'm afraid not. I have an increasing amount of work to do, and it leaves little time I can dedicate to open-source. I have a lot of changes to SharpGen on my local branch, but I can't find the time to do Vortice integration testing to check if my changes broke anything. Until I do that, I can't push my changes to SharpGen. Until I am through with the refactorings, I can't have a look at this i

[2021-05-14 12:56] zgabi commented on #141
@amerkoleci By the way, maybe later you could try to use the official (from Microsoft) package for the C/C++ interops:
https://github.com/microsoft/CsWin32 which is using the official Win32Metadata package for the code generation.

However it still have issues with DirectX, it generated a code with compile errors.. but it is still very beta
For example:
https://github.com/microsoft/CsWin32/issues/

[2021-05-14 13:01] andrew-boyarshin commented on #141
@zgabi that's actually a bad suggestion, in my opinion. win32metadata WinMD output is a product of parsing ClangSharp-generated C# output. I think, if any such migration is considered, ClangSharp should be used directly instead. I have a branch that rebases SharpGen on top of ClangSharp and still provides almost all of the convenience of SharpGen-generated wrappers. Unfortunately, I haven't been a

[2021-05-15 05:34] manju-summoner commented on #141
I'm not sure about the inside of SharpGen, but if I add the IDWriteTextRendererShadow created based on the code generated by 'autogen-shadow="true"' (the auto-generated code is currently broken), it seems to work fine.

[2021-05-15 07:11] amerkoleci commented on #141
Should work with this change https://github.com/amerkoleci/Vortice.Windows/commit/c61fbca0651ee7016fd37383f06a01752a2e7c0f

[2021-05-15 07:11] #141 closed

[2021-05-15 08:06] zgabi commented on #141
Thank you @manju-summoner & @amerkoleci .
When do you plan to create a new nuget package for Vortice.Direct2D1?

[2021-05-15 09:19] amerkoleci commented on #141
@zgabi here you go:
https://www.nuget.org/packages/Vortice.Direct2D1/1.9.65

[2021-05-15 13:39] zgabi commented on #141
Thank you. I tried it, works perfectly :)

[2021-05-15 15:16] zgabi opened #145 "GlyphRun.GlyphIndices should be ushort[] instead of short[]"
In the `GlyphRun` class the `GlyphIndicies` property is `short[]` currenty:
https://github.com/amerkoleci/Vortice.Windows/blob/f619875c852d8fc3377d3849396c3c1d4e74a798/src/Vortice.Direct2D1/DirectWrite/GlyphRun.cs#L14

It should be `ushort[]`:
https://docs.microsoft.com/en-us/windows/win32/api/dwrite/ns-dwrite-dwrite_glyph_run

The `IDWriteFontFace.GetGlyphRunOutline` method is already receives an

[2021-05-16 18:22] #137 closed

[2021-05-17 10:27] amerkoleci commented on #145
Nice catch, commit https://github.com/amerkoleci/Vortice.Windows/commit/40f1f6f550ccb11f23311e30baa717290d6e91f4 includes FIX.

[2021-05-17 10:27] #145 closed

[2021-06-02 22:27] paulbartrum opened #150 "Some methods just return null on failure, with no way to get the HRESULT"
First, this is great project, thank you for your hard work :-)

Question: I notice for some creation methods there doesn't appear to be a way to get the HRESULT if the method fails, they just return `null`.

ID3D12Device.CreateRootSignature
ID3D12Device.CreateCommandSignature
ID3D12Device.CreateComputePipelineState
ID3D12Device.CreateGraphicsPipelineState
ID3D12Device.CreatePlacedResource
ID3D12De

[2021-06-03 07:14] amerkoleci commented on #150
It was oversight, commit https://github.com/amerkoleci/Vortice.Windows/commit/7481411e43659c6e4d25c52b705a7eadcee2cfc2 fixes this.

Thanks

[2021-06-03 07:14] #150 closed

[2021-06-11 21:19] roy-t opened #151 "How to implement Vortice.Direct3D.Include in 1.9.77+"
Hello :),

I've been using v1.9.65 of Vortice.D3DCompiler/VorticeDirect3D11 to compile shaders like this
[code]

The class ShaderFileInclude looks like this:
[code]

This worked great. However when upgrading to a newer version (1.9.77 or higher). This leads to a `System.NullReferenceException`, I think because I haven't initialized the `ShadowContainer Shadow` property. To be honest I don't really

[2021-06-11 21:28] amerkoleci commented on #151
Hi,
You need to derive from CallbackBase as well.

Can you try that and see if it works? :)

[2021-06-11 21:33] roy-t commented on #151
Wow that was fast.

I've tried deriving from `CallbackBase` but that leads to

[code]

Just for reference my includer now looks like this

[code]

[2021-06-12 06:38] andrew-boyarshin commented on #151
Confirmed regression in SharpGen _2.0.0-beta.9_. All `AddMethod(Delegate)` calls are broken. Fix for Vortice would be to use explicit `AddMethod(Delegate, uint)`, which is now recommended anyways.

[2021-06-12 06:40] amerkoleci commented on #151
Any chance you can remove the broken method and submit PR please?

[2021-06-12 07:23] roy-t commented on #151
Good morning, I've pulled the latest changes and I can confirm that they fix my issue! Thanks for the quick responses.

[2021-06-12 07:23] #151 closed

[2021-06-12 07:34] amerkoleci commented on #151
Thanks for digging this issue, ping me if you have any other issues, will release new nuget package soon.

[2021-06-24 01:30] paulbartrum opened #154 "Can not create root signature directly from blob"
The native [ID3D12Device::CreateRootSignature](https://docs.microsoft.com/en-us/windows/win32/api/d3d12/nf-d3d12-id3d12device-createrootsignature) method allows for the creation of a root signature from a serialized blob. I see from the Vortice.Windows source code that the public CreateRootSignature overloads always call D3D12SerializeRootSignature to get the blob and then passes that to the (inte

[2021-06-24 06:58] amerkoleci commented on #154
Nice catch, commit: https://github.com/amerkoleci/Vortice.Windows/commit/5c1aa5fe9ebdf65c52abd2a24a0ba663d7e4197e fixes this.

Thanks

[2021-06-24 06:58] #154 closed

[2021-06-24 16:31] andrew-boyarshin opened #155 "ID2D1Bitmap1 and ID2D1BitmapRenderTarget: extra Release"
Is there a need for `ReleaseBitmap` and `ReleaseColorContext`? SharpDX doesn't do this. Narrowed this down while debugging Avalonia.

[2021-06-24 22:27] amerkoleci commented on #155
If I persist the value shouldn't manually release it?
https://github.com/amerkoleci/Vortice.Windows/blob/a624505759f75cc6b46ac9e9058a90dd0fc58167/src/Vortice.Direct2D1/Mappings.xml#L433

[2021-06-27 17:47] andrew-boyarshin commented on #155
Yeah, mistake was actually calling `Release`, not `Dispose`. Next SharpGen 2.0 beta will contain the code to generate all that boilerplate for persistent properties.

[2021-06-28 06:39] #155 closed

[2021-07-06 23:45] paulbartrum opened #160 "Direct3D12: Some enum naming issues"
Here's some enum values I found that look like they're named incorrectly (all in Vortice.Direct3D12 namespace):

`HeapFlags.DenyRtDomainShaderTextureS`
`HeapFlags.DenyNonRtDomainShaderTextureS`
`HeapFlags.AllowOnlyNonRtDomainShaderTextureS`
`HeapFlags.AllowOnlyRtDomainShaderTextureS`
"TextureS" should be "Textures", see https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ne-d3d12-d3d12_heap_t

[2021-07-07 07:14] amerkoleci commented on #160
Fixed now, thanks!

[2021-07-07 07:14] #160 closed

[2021-07-13 06:05] paulbartrum opened #161 "Direct3D12: Span<T> or ReadOnlySpan<T> overloads"
I'm writing a D3D12 game engine using Vortice.Windows and I'm trying to avoid garbage collection, which means avoiding memory allocations. Some D3D12 APIs currently accept arrays, which must be allocated on the heap (right?)

Would it be possible to add some overloads that take a Span<T> or ReadOnlySpan<T> instead?

i.e. for these methods:
ID3D12CommandQueue.UpdateTileMappings()
ID3D12Device.CopyD

[2021-07-13 06:32] amerkoleci commented on #161
Hi, sure, feel free to submit PR.

[2021-07-14 06:15] #161 closed

[2021-07-22 23:12] h1cks commented on #103
@amerkoleci has there been any consideration on moving the older DX11 Media Foundation.  I know this is a substantial piece of work, I'm sort of left with no video alternatives atm.  Keep up the good work.

[2021-08-02 22:28] paulbartrum opened #165 "Double initialization of Subresource field"
Very minor issue: `Subresource` is initialized twice in the `ResourceTransitionBarrier` constructor.

https://github.com/amerkoleci/Vortice.Windows/blob/f619875c852d8fc3377d3849396c3c1d4e74a798/src/Vortice.Direct3D12/ResourceTransitionBarrier.cs#L19-L22

[2021-08-03 02:45] paulbartrum opened #166 "SetEventOnCompletion should accept a null waitHandle parameter"
The documentation for ID3D12Fence::SetEventOnCompletion states that hEvent can be null, in which case "this API will not return until the specified fence value(s) have been reached." See https://docs.microsoft.com/en-us/windows/win32/api/d3d12/nf-d3d12-id3d12fence-seteventoncompletion

But this doesn't work in Vortice.Windows (it throws a `NullReferenceException`).
https://github.com/amerkoleci/Vo

[2021-08-03 06:42] amerkoleci commented on #166
You can do:
SetEventOnCompletion(value, IntPtr.Zero) but will add overload.

Thanks

[2021-08-03 06:51] amerkoleci commented on #166
Fixed with https://github.com/amerkoleci/Vortice.Windows/commit/ea4e029b417a4ec2a4bec5c3cc7e2ed97fc2ed4c

Thanks

[2021-08-03 06:51] #166 closed

[2021-08-03 06:51] amerkoleci commented on #165
Fixed with https://github.com/amerkoleci/Vortice.Windows/commit/ea4e029b417a4ec2a4bec5c3cc7e2ed97fc2ed4c

Thanks

[2021-08-03 06:51] #165 closed

[2021-08-03 09:46] paulbartrum commented on #166
Ah, you're right, I didn't notice that. Thanks!

[2021-08-07 11:08] h1cks opened #167 "Feature Request - Add DirectInput - Support"
HI, expect that this may not go too far.

But one of the challenges I have is the current XInput is not fully supportive of non XBox Controllers which leaves a gap

Good work on the rest btw.  Just a query.

[2021-08-07 11:31] amerkoleci commented on #167
DirectInput? DirectX11 support?

[2021-08-07 11:57] h1cks commented on #167
Mis type. I was thinking about asking media engine support but changed the thread.  Didn't update fully.   Looking at the media foundation but having trouble looking for samples

[2021-08-08 05:57] h1cks commented on #103
Just reopened issue for media foundation build failing, I know busy at the moment @amerkoleci.  appreciate the work.

I've spent some time updating my project from my Sharpdx to Vortice.  Only having to update deltas.  the amount of work you have put in has made it so much easier to migrate.

[2021-08-08 07:40] amerkoleci commented on #167
Once I'm back from vacation, August 23th I'll start adding DirectInput support

[2021-08-08 07:52] h1cks commented on #167
Thanks.  Have a great holiday!

[2021-08-12 11:11] EzeKees opened #169 "Feature Request - Add DirectComposition"
Hello, first of all I want to thank this project. For years I have used SharpDx without problems, but since it was archived I am considering moving libraries.
I love this project and it is perfect, but I only have one problem, my application needs DirectComposition support.
Is there a development plan for this?
Thanks

[2021-08-12 11:19] #169 closed

[2021-08-12 11:20] EzeKees commented on #169
I Found it
https://www.nuget.org/packages/Vortice.DirectComposition/

[2021-08-13 04:37] BMarques commented on #167
This is especially important to support steering wheels' force feedback as well.

[2021-08-13 06:08] amerkoleci commented on #167
@BMarques as specified any feature request must be sponsored, I know lot of features are important but this is spare time project, @h1cks is sponsoring me for long time already

[2021-08-13 06:10] BMarques commented on #167
Ah ok, but I didn't mean it in that way :). Just referencing as well another reason why DInput is still valid these days :).

[2021-08-20 07:41] roy-t opened #170 "Unable to enable DirectXDebugLayer"
I'm trying to enable the DirectX Debug Layer to get helpful messages while developing my application.

I create my device like this
[code]

Which should be enough to enable the debug layer and get some output in the console. However, I got nothing in my console output. I've read that sometimes Visual Studio doesn't want to output these messages in a managed project. But I also do not see the messa

[2021-08-20 08:13] amerkoleci commented on #170
You need to enable unmanaged debug in your executable, otherwise nothing will get prompted in visual studio Output window

[2021-08-20 08:17] roy-t commented on #170
Ok this is weird, so that does give me the output of the debug layer in Visual Studio's output window, so the debug layer works. But still nothing appears in the DebugInfoQueue and it also seems that the ReportLiveDeviceObjects call doesn't prompt more messages.

[2021-08-20 08:22] amerkoleci commented on #170
Are you sure you have live objects being leaked? I suggest you to use the IDXGI debug layer as well, I suggest you this code: https://github.com/walbourn/directx-vs-templates/blob/master/d3d11game_win32_dr/DeviceResources.cpp

Otherwise if you have patience I can prepare an example at beginning of next week.

[2021-08-20 08:27] amerkoleci commented on #170
This blog helps as well: https://walbourn.github.io/dxgi-debug-device/

[2021-08-20 08:36] roy-t commented on #170
Maybe I misunderstood what ReportLiveDeviceObjects does, I'll try to generate some real errors to see if the queue. Thanks for all the other links as well, and the super swift response! I'll try to figure this out later today or tomorrow (unfortunately I ran out of time for today :( ).

[2021-08-20 12:50] roy-t commented on #170
I found the problem its the interaction between renderdoc and my application:

[code]

[2021-08-20 13:05] #170 closed

[2021-08-20 13:15] amerkoleci commented on #170
Glad you find the issue, never thought the issue would be with renderdoc integration

[2021-08-20 13:15] amerkoleci commented on #170
Is your project open source?

[2021-08-20 14:00] roy-t commented on #170
That's so cool to hear. I've been stuck on MonoGame with the MiniRTS so I started working on a replacement using Vortice. Because its mostly a mess right now I haven't made the repository public yet. Not much to see :)

[2021-08-21 09:32] roy-t commented on #170
For completeness here's a class that uses the DebugInfoQueue to write the log messages to the console (or your own logger). With this you don't have to enable mixed debugging support, which makes everything a lot faster. It also detects correctly if RenderDoc or another profiler is intercepting your calls to the debug layer.

[code]

[2021-08-22 12:15] Odepax opened #171 "How to create custom effects?"
Hello, there! :kenobi: I'm using Vortice while learning Direct2D from the docs. I'm currently experimenting with the creation of [custom effects](https://docs.microsoft.com/en-us/windows/win32/direct2d/custom-effects), but there doesn't seem to be any sample on that matter, hence the following questions:

- How to define a wrapper class around a custom effect, like [what Vortice provides for the D

[2021-08-22 16:10] amerkoleci commented on #171
Hi,
Thanks for trying out custom d2d1 effects, not sure I understand what the issue is? CreateEffect being internal?

[2021-08-22 18:41] Odepax commented on #171
I used to create built-in effects using `ID2D1Effect ID2D1DeviceContext.CreateEffect(Guid effectGuid)`:

[code]

Then, I discovered the `Vortice.Direct2D1.Effects` sub-namespace, so I figured out I'd use that instead of the `SetValue`s and the ints:

[code]

When creating my first custom effect, I implemented `ID2D1EffectImpl` using `CustomEffectBase`, and tried to wrap it the same way, taking exa

[2021-08-23 10:21] amerkoleci commented on #171
Can you try with latest changes from commit: https://github.com/amerkoleci/Vortice.Windows/commit/05414c1b6f296c35a838607a761aa8cf9089a8e1?

Now you can call CreateEffect and it should work.

Thanks

[2021-08-23 13:53] amerkoleci commented on #167
Initial bindings just landed with commit: https://github.com/amerkoleci/Vortice.Windows/commit/4a008394a7568dbc1484e6ae7c4e2f936d43d5c6

Will improve it further but you can start playing with it.

[2021-08-24 02:33] h1cks commented on #167
@amerkoleci  thanks, I will start digging into it after I finish my volumetric rendering work :)

[2021-08-24 02:34] h1cks commented on #103
@amerkoleci is the current media foundation build breaking?   I looked at the build and seems to be.  Is this to be another Nuget package that is to be published.  Good work btw...also starting tweeting Vortice windows out to get more awareness of this project.

[2021-08-24 06:34] amerkoleci commented on #103
Yes, currently is in preview state, https://github.com/amerkoleci/Vortice.Windows/blob/main/src/Vortice.MediaFoundation/Vortice.MediaFoundation.csproj#L10

If it works I can enable nuget package generation?

[2021-08-24 06:47] h1cks commented on #103
@amerkoleci assume this will expose the fmv playback components?

Also, finding some random crashing in release that isnt occurring in debug with my game. Due to the size of my project might take sometime to find issues.  Will continue to test vortice against my game.  And diagnose if the issue is within my game first.

[2021-08-24 10:23] #136 closed

[2021-08-24 15:53] amerkoleci commented on #167
DirectInput feels almost completed to me, please test and as I plan to push nuget release by the end of the week.

[2021-08-26 22:54] paulbartrum opened #173 "Updating Vortice.Dxc to 1.9.117 breaks shader compilation"
Updating to Vortice.Dxc 1.9.117 breaks with the message:
[code]

Seems to be caused by this pull request by @manuelxmarquez: https://github.com/amerkoleci/Vortice.Windows/pull/156
Contrary to what the comment says, CopyNativeAssemblies_Vortice_Dxc was working on my setup (.NET 5) and restoring the missing targets file resolves the issue by copying dxil.dll into the same directory as the exe.

The

[2021-08-28 08:54] #173 closed

[2021-08-28 21:22] roy-t opened #178 "[Minor] MessageId enum lists 'Roy' instead of 'Destroy'"
Today I had an extremely confusing experience. My name is Roy, and all of a sudden my log was filled with output like 'DestinationRoyPixelShader ...' (I output messages from the ID3D11InfoQueue.

After a bit of a search I figured out that in the MessageId enum in the generated file `Enumerations.cs`  values like these are generated:

[code]

Looks like something truncates 'Destroy' to 'Roy'.  I tr

[2021-08-29 14:17] amerkoleci commented on #178
Latest nuget should have this issue fixed? Did you tried it? I will gladly fix otherwise

[2021-08-30 06:50] amerkoleci commented on #178
It happens with latest version as well, will fix it now and release new nuget package.

Thanks

[2021-08-30 08:04] #178 closed

[2021-08-30 12:33] roy-t commented on #178
Ah great to hear, thanks again!

[2021-08-30 18:21] roy-t commented on #178
@amerkoleci btw I've made the next iteration of MiniEngine (very early WIP) public now. Its all based on Vortice.Windows, so if you're looking for inspiration on how your work is used, this could be useful. You also mentioned you liked following the previous iterations :): https://github.com/roy-t/MiniEngine3

[2021-08-30 18:56] amerkoleci commented on #178
Thanks, will keep and eye on it, add mention in Readme as well

[2021-08-30 22:55] paulbartrum commented on #173
Hmm I might have spoken too soon. @manuelxmarquez your fix works by packing the native DLLs into /lib/netstandard2.0 in the nuget package, right? When I do that I get this warning when building:
[code]
Reading the docs this is because files in the lib folder are added as project references (as well as runtime dependencies). This obviously doesn't work for native DLLs, hence the warning.

[2021-08-31 06:41] manuelxmarquez commented on #173
Yeah, I should have known that! I moved the assemblies to the build folder and brought back the targets file to copy them. I tested on a net5.0 project and on a multi targeted project to ensure it is copied properly to the output directory.

I did not put it in the runtimes folder because that would result in copying the assemblies to 2 locations for net5.0 when only one of them works. Hopefully t

[2021-08-31 07:31] h1cks commented on #167
@amerkoleci I will test, just merging my latest sharpdx updates into my vortice version.   I'm also testing some issues with 3d sound, I use so much of the dx11 interface it's a good stress test.

if interested, I can share my game code base with you if you ever need to debug/test features.

will keep you informed of my progress with respects to Directinput testing.

[2021-08-31 08:29] h1cks opened #180 "X3DAudio Exception"
Running my game, i'm calling CreateSourceVoice which randomly throws an exception each time.  I removed my custom parameters but same issue.  I've attached the error content from the exception including the HRESULT.  If the info isn't enough, may need to give you access to my project as the issue is 100% reproducible.

I may also look at maybe the way i'm handling buffers also, so I may close if I

[2021-08-31 09:47] amerkoleci commented on #180
I've added SoundStream and RiffParser from SharpDX, I've managed to handle sound playing without issues, code bellow:

[code]

[2021-08-31 12:36] h1cks commented on #180
Cheers, I have found the issue, I had some logic around callbacks causing an issue and not releasing the sound channel (my version of wrapper for voice sharing).  I realised I didnt have to create a separate IXAudio2VoiceCallback class, I just had to implement the interface into my Sound Channel.  I had some weird memory sharing problems, no errors now and all is happy go lucky!

Will close @amerk

[2021-08-31 12:58] h1cks commented on #180
Update, the issue still exists, just less so.  The issue is occurring around the time I free and create a voice in quick succession.  There maybe a threading issue.  The problem is hidden by putting a try/catch around the createvoice code so the problem is hidden.

[2021-08-31 13:04] amerkoleci commented on #180
Well if the problem is not from Vortice.Windows side then I would close the issue

[2021-08-31 14:10] h1cks commented on #180
I've found the issue, this is related to the sample encoding, playing an MS Extensible Wav Format causes an exception in CreateSourceVoice call.  I changed the sound format to PCM Wav and sample worked.

Will close @amerkoleci

[2021-08-31 14:29] h1cks commented on #180
I will test with soundstream and see if the sound will work.   If it does then it means my current load method is flawed

[2021-08-31 14:30] #180 closed

[2021-08-31 22:38] h1cks commented on #167
@amerkoleci did some testing on directinput but not sure if just my implementation is wrong here.

[code]

then enumeratealldevices which is successful

[code]

I think create the device with the guid.

[code]

Did this with keyboard and joystick, same result.   It maybe something that I am overlooking, but I believe this is the bare bones implementation.

[2021-09-01 05:24] amerkoleci commented on #167
Once you created device you have to call SetDataFormat https://github.com/amerkoleci/Vortice.Windows/blob/main/src/Vortice.DirectInput/IDirectInputDevice8.cs#L424, just like you would do when writing native code :

SetDataFormat<RawKeyboardState> for keyboard, etc

[2021-09-01 06:57] h1cks commented on #167
Yes, but I am unable to find the presets of c_dfDIKeyboard

https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ee417925(v=vs.85)

also

c_dfDIMouse
c_dfDIMouse2
c_dfDIJoystick
c_dfDIJoystick2

which are part of the predefined formats.

I used

[code]

just for a test, because it's taking a TRaw object in.

[2021-09-01 08:45] amerkoleci commented on #167
Not sure how this scenario can be handled:
@andrew-boyarshin dinput.h has:

extern const DIDATAFORMAT c_dfDIMouse;

Is it possible to handle this scenario with SharpGen?

[2021-09-01 08:51] andrew-boyarshin commented on #167
@amerkoleci no, SharpGen doesn't do that. There is no .NET'y way to handle that. You have to use `GetProcAddress` if there is no wrapping getter/setter function.

[2021-09-01 09:04] amerkoleci commented on #167
@andrew-boyarshin GetProcAddress won't resolve the problem, as c_dfDIMouse is not visible like function.

[2021-09-01 09:14] h1cks commented on #167
Probably make a fool of myself here....

From what I can see from Sharpdx, there seems to be an custom classes for each device supported by a customer device class underlying that creates a dataformat object from all available attributes based upon the type of device.   But I don't have the full story, so i'm probably guessing a bit here.

https://github.com/sharpdx/SharpDX/blob/master/Source/Shar

[2021-09-01 09:17] h1cks commented on #167
IF what I have said above holds, it might just need some additional logic to generate a "everything" for device Dataformat object.  At the moment, the DataFormat object in Vortice is internal, so I can't reference it atm.  I am assuming I can build something similar.

[2021-09-01 09:52] amerkoleci commented on #167
Right, if you call SetDataFormat<RawKeyboardState>() should initialize the keyboard, SetDataFormat<RawMouseState>()  the mouse etc

[2021-09-01 10:25] h1cks commented on #167
Yes, but this code will need to be developed though.

[2021-09-01 16:29] amerkoleci commented on #167
Feel free to submit PR, when I have some spare time I will add different samples here: https://github.com/amerkoleci/Vortice.Windows.Samples

[2021-09-01 16:31] amerkoleci opened #181 "Native headers cleanup"
Remove https://github.com/amerkoleci/Vortice.Windows/blob/main/src/native/include/intrin0.h

[2021-09-01 23:07] h1cks commented on #167
@amerkoleci I've been able to find that I should not step through SetCooperative which was giving a fail.

The issue now I can replicate in Sharpdx and Vortice, so there is no issue with vortice!  But....With one question, there is accessor in the Sharpdx code that exposes the properties and I set the buffersize for between each GetBufferedData.

If the buffersize is 0, then GetBufferedData throws

[2021-09-02 08:04] h1cks commented on #167
@amerkoleci  I've submitted a pull request, I have the buffering and properties working for Directinput device for keyboards (may work with all, but only tested buffering for keyboard atm).

[2021-09-02 08:09] #181 closed

[2021-09-02 21:30] h1cks commented on #167
@amerkoleci  will close the issue, thanks for your support on this.

[2021-09-02 21:36] #167 closed

[2021-09-02 22:12] h1cks commented on #103
I will create a test project in vortice and start testing this on the weekend.

[2021-09-03 09:06] SuRGeoNix commented on #103
👍 Good job @amerkoleci just replaced also SharpDX with Vortice on my [media player library](https://github.com/SuRGeoNix/Flyleaf). Took less than an hour!

[2021-09-03 09:07] amerkoleci commented on #103
@SuRGeoNix Nice one, spread the word then :)

[2021-09-06 05:10] SuRGeoNix opened #183 "D3DCompiler no compatible with SharpGen.Runtime?"
Hey @amerkoleci

Trying to install D3DCompiler in .NET Framework 4.7.2 and it fails with

[code]

It should support .NET Framework right?

Downgrading to eg 1.8.48 works fine (edit: ok normal started having this dependency from 1.9.24-beta)

[2021-09-06 05:38] amerkoleci commented on #183
There shouldn't be any issues with net framework, will try later and see if it happens

[2021-09-06 06:10] andrew-boyarshin commented on #183
SharpGen.Runtime supports .NET Framework 4.5+ and .NET Standard 1.1+, it definitely should work.

[2021-09-06 06:50] SuRGeoNix commented on #183
@andrew-boyarshin True, no issues with SharpGen.Runtime by itself. If you install it first then D3DCompiler can be installed as well. There is something wrong with D3DCompiler dependencies (not sure if it should point to Runtime.COM? or a possible bug with version tag -beta.9?)

[2021-09-06 06:56] amerkoleci commented on #183
I just created new console app targetting .NET 4.7.2 and run the command:
`
Install-Package Vortice.D3DCompiler -Version 1.9.130
`

No issues found

[2021-09-06 07:15] SuRGeoNix commented on #183
Steps to reproduce, open WinForms .NET 4.7.2 and try to install the package from the GUI package manager (I will check if that works with CLI)

[2021-09-06 17:10] SuRGeoNix commented on #183
Hey, just to let you know that I've tested on another machine before posting it here just to make sure it wasn't my installation.
However, if you think that is not related with Vortice feel free to close it! Not sure why it doesn't happens to you (nuget clear cache maybe to make sure?)

[2021-09-06 17:19] amerkoleci commented on #183
This has nothing to do with Vortice.Windows, please add NuGet.config file in your repo with this content https://github.com/amerkoleci/Vortice.Windows/blob/main/NuGet.Config

[2021-09-06 18:08] SuRGeoNix commented on #183
I've tried all those. I had some issues with a specific package of mine (opened an issue here https://developercommunity.visualstudio.com/t/NuGet-package-install-crashes-Visual-Stu/1522395) but I'm not sure if that has to do anything with Vortice package. That's why I've tried that also from another machine to double check. Still same issue.

No worries, let's leave it for now and might someone el

[2021-09-06 18:08] #183 closed

[2021-09-08 18:23] amerkoleci commented on #103
Preview nuget package for Media Foundation just landed on nuget: https://www.nuget.org/packages/Vortice.MediaFoundation/

[2021-09-09 09:45] h1cks commented on #103
Would love to know more about your migration, what components did you use.  On my current Sharpdx project im using the older media engine components.

[2021-09-09 09:46] h1cks commented on #103
@amerkoleci you're getting pretty close to feature complete for now, assume support for future DX12 components etc will come?

[2021-09-09 09:47] amerkoleci commented on #103
Yes, I plan to add D3D12 support as well, consider that d3d12video.h is supported under Vortice.Direct3D12.

[2021-09-09 10:52] h1cks commented on #103
I've been tweeting your updates so there can be more coverage.  Seeing that Sharpdx hasn't had an update in 2+ years, it's getting critical for a new path be in place for devs on a supported library.

[2021-09-09 10:54] amerkoleci commented on #103
Which is your Twitter account?

[2021-09-09 10:54] h1cks commented on #103
https://twitter.com/software_insane

[2021-09-09 10:56] h1cks commented on #103
I just put out notes on my release of my game, its fairly new account.

Seeing I have my steam support now working, I will be doing more around getting my game on steam and into a releasable condition.  The twitter account will be useful going forward.

[2021-09-13 08:25] SuRGeoNix commented on #183
Finally found the related [NuGet issue](https://github.com/NuGet/Home/issues/2944)

It will not combine stable with prerelease versions, it's more like a decision rather a bug.

If you have a large dependencies you can recursively bypass this by using Install-Package with -IncludePrerelease option or might IgnoreDependecies option on VS.

Ideally, when you have a stable version you should try to r

[2021-09-13 12:11] #125 closed

[2021-09-14 08:18] SuRGeoNix opened #185 "LUID (64-bit value) support for x86 platforms?"
Hey @amerkoleci,

I didn't have much time to look in to it but I've noticed with adapter.Description.Luid on x86 will be 0. I guess there are other places with [LUIDs](https://docs.microsoft.com/en-us/previous-versions/windows/hardware/drivers/ff549708(v=vs.85)) as well. Is this possible to support them on x86 platforms?

Regards,
John

[2021-09-14 08:36] amerkoleci commented on #185
Not sure why, LUID is platform indipendent and its size is 8.
Need more info please.

[2021-09-14 08:43] SuRGeoNix commented on #185
Sure. part of my code that lists the GPU adapters

[code]

x64 output
[code]

x86 output
[code]

As you can see the last value is 0 which is the LUID.

[2021-09-14 08:55] amerkoleci commented on #185
Same issue was present on SharpDX: https://github.com/sharpdx/SharpDX/issues/475

Will FIX it.

[2021-09-14 08:57] SuRGeoNix commented on #185
Nice. It seems similar issues could exist with SIZE_T etc https://github.com/sharpdx/SharpDX/issues/692

[2021-09-14 09:00] amerkoleci commented on #185
Issue is with AdapterDescription, can you try quickly with Description1 please?

[2021-09-14 09:04] SuRGeoNix commented on #185
Output for
[code]

x64
[code]

x86
[code]

Description1.Luid works. Description1.DedicatedVideoMemory doesn't.

[2021-09-14 09:07] amerkoleci commented on #185
Just use the code from here:
https://github.com/helix-toolkit/helix-toolkit/commit/49a86a333efbee4ae0808438b88b0e317cd7f0db

It should work with latest commit also the AdapterDescription

[2021-09-14 10:53] amerkoleci commented on #185
Please report if it works? Thank you!

[2021-09-14 11:18] SuRGeoNix commented on #185
No it returns 3221225472 instead of 8568401920.

[2021-09-14 23:00] h1cks opened #186 "Example Code - To Do List"
Compiling a list of examples using Vortice that should be done various features of DX11/12 in Vortice.

- FMV Demo using Media Foundation
- Sound playback in general
- 3D Sound Demo using XAudio
- Shader Compiling
- Compute Shader Sample

Feel free. I think the appeal of Vortice will also be in the strength of showing how easy it is to get started.

Maybe tag this as document?

[2021-09-14 23:02] h1cks commented on #103
@amerkoleci will close this ticket when I have created a sample to add to Vortice.  At the moment flat out on various projects, but keen to commit a sample for this.

[2021-09-17 08:12] h1cks commented on #103
@amerkoleci  noticed you have added code around Source Resolver for media creation.  Current release does not include the new code you have written.

I've tried to pull the MediaSource object from the Media pointer after creating an object as per below using the documentation from MS -> https://docs.microsoft.com/en-us/windows/win32/medfound/using-the-source-resolver

Can safely say my approach is

[2021-09-17 08:45] amerkoleci commented on #103
You can do this:
IMFMediaSource source_ = new ComObject(object_).QueryInterface<IMFMediaSource>();

[2021-09-17 08:54] amerkoleci commented on #103
You can use ComObject.As<T>(), as well  QueryInterface etc

[2021-09-17 11:57] h1cks commented on #103
Cheers, but i'm still getting a no such interface supported error.  I must be doing the execution of this wrong, it is though returnnig a com object, just doesn't contain the related interface.

[2021-09-17 13:34] amerkoleci commented on #103
Sad to hear that, with new release https://github.com/amerkoleci/Vortice.Windows/commit/efb03fecbd99453695dfe923c3fd7fc1e78232bd you will be able to do:

[code]

[2021-09-17 16:03] pubpy2015 commented on #183
Confirm: can not install Vortice.D3DCompiler from **NuGet Package Manager** but can install from **Package Manager Console** as @SuRGeoNix solution:
video:

https://user-images.githubusercontent.com/59004953/133819118-6ad7e43a-ac07-46d5-acc1-8de2850fffa2.mp4

[2021-09-18 04:10] PieroCastillo opened #188 "How to load an Image from JPG file"
Hello, what's the way to render a JPG image from Stream in Direct2D?

[2021-09-18 04:21] h1cks commented on #103
Will wait till the new version is out!

I'm implementing the renderer from this step by step from Microsoft -> https://docs.microsoft.com/en-us/windows/win32/medfound/how-to-play-unprotected-media-files

[2021-09-18 06:35] amerkoleci commented on #188
Please open discussion for questions.
You can use Direct2D1 WIC for loading images.

[2021-09-18 06:35] #188 closed

[2021-09-19 20:15] mrcoffeeee commented on #125
Hi sorry I could not work on my project for some time but tested the code after you closed the bug. Reverb is still not working. The problem remains. I attached an updated C# demo with the latest vortice xaudio2 (1.9.143). There is an area in the program.cs-code where you can switch between 2 presets. "Default" is working at least somehow but "Arena" still results in silence.
It seems to me that r

[2021-09-21 02:19] manuelxmarquez commented on #125
I checked this a few times but I finally found out the issue. It was not easy to find and I spent quite a bit of time on it but the struct has the wrong packing. I submitted a pull request to fix it.

I also took your sample project and incorporated it into the Vortice solution for easier debugging. I uploaded the commit in case more bugs are found and it might be a good place to start.

https://g

[2021-09-21 05:33] amerkoleci commented on #125
Thanks!
I've started collection of samples here, feel free to add some: https://github.com/amerkoleci/Vortice.Windows.Samples

P. S: Somehow I've updated solution to vs2022 preview

[2021-09-21 16:36] manuelxmarquez commented on #125
I'll keep that in mind as I test other cases. I have VS 2022 Preview so that's not a problem.

[2021-09-21 17:11] pyromanci opened #192 "Error from SharpGen that has me preplexed. "The parameter is incorrect.""
So I have program that was using SharpDX and decided to move to it Vortices. Since SharpDX started to throw an error that I couldn't seem to track down. So i removed the SharpDX nuget packages added added in the Vortice packages. So after reworking the screen capture code to use Vortice I was getting the same error. Now it's the `output1.DuplicateOutput(device);` line that is throwing the error.

[2021-09-23 21:46] amerkoleci commented on #192
The issue is not related to vortice, probably WPF is creating d3d9/d3d11 device and you need to retrieve the IDXGIFactory from WPF, from msdn documentation :

The specified device (pDevice) is invalid, was not created on the correct adapter, or was not created from IDXGIFactory1 (or a later version of a DXGI factory interface that inherits from IDXGIFactory1).

[2021-09-24 07:58] amerkoleci commented on #103
I just enabled nuget releases (beta version) during push, @h1cks you can grab the latest 2.0.19-beta version

[2021-09-24 08:45] h1cks commented on #103
Took a little while to show in nuget but see them  now and will pull.  will do a quick once over to see if there are any issues in general, i will be working again on FMV this weekend when I get time.  At the moment I'm finishing some more changes to my game (time of day lighting and water rendering changes).  Once done, will get back to video playback.

[2021-09-24 09:03] h1cks commented on #103
Update: A few function name changes and some object no longer needing to be disposed.  But all good on running my game.  I've also had a quick look at the video playback and the IMFResolver object is now being returned, I can now proceed with the rest of the FMV dev work. Thanks!

[2021-09-24 09:28] andrew-boyarshin commented on #103
@h1cks

You just removed some `using`s? That's likely a memory leak (until the next SharpGen version).

If you had sth like this:
<https://github.com/amerkoleci/Vortice.Windows/blob/bb4a43429b0e1ea58d3762a794845653e9fee0e0/src/Vortice.Dxc/DxcCompiler.cs#L19-L22>

You need now to do sth like this:
<https://github.com/amerkoleci/Vortice.Windows/blob/7591f72bac51728a7bcb19848572ba33120053b1/src/Vorti

[2021-09-24 09:32] amerkoleci commented on #103
This has to be fixed probably, using and IDisposable pattern was cool, this will lead to lot of memory leaks.

[2021-09-24 14:34] h1cks commented on #103
@amerkoleci funnily enough it was the vertex buffer bindings that no longer are IDisposable.  And that the SetVertexBuffers was changed to SetVertexBuffer

All good.

[2021-09-25 01:43] h1cks opened #195 "Current Build - Issues with compile"
I pulled the latest build to work on media foundation and no longer can compile.  This maybe on my side, but so far no clues.

Any thoughts here?

[code]

[2021-09-25 07:11] h1cks commented on #195
Closing, looks like it has resolved itself.  JUst be restarting vs.

[2021-09-25 07:11] #195 closed

[2021-09-25 23:27] mrcoffeeee commented on #125
Hi guys, thank you so much for your effort. I tested the new nuget package (Vortice.XAudio2 2.0.20) and all the reverb presets work now despite the "Default"-preset. This is the only one which results in no sound.

[2021-09-27 18:34] pyromanci commented on #192
Hrmm...  OK that has helped. I had to triple up on some debug out puts, but found that the InitDirectX() was in fact getting called multiple times. I need to do some more reading on the ServiceCollection. After adding extra to avoid dupluications.

I'm now back at the my initial error that trigged me to do this switch in the first place. but now that this section has been cleaned up I can see wher

[2021-09-27 18:34] #192 closed

[2021-09-28 08:04] amerkoleci commented on #103
I'm pushing packages to github now, can you try to use them from: https://github.com/amerkoleci?tab=packages
Stable packages goes to nuget as before.

[2021-09-28 08:14] h1cks commented on #103
Push anyway, you have a number of other fixes that should go out. and if the video playback wasnt working/complete before, then it wont affect the the new release.

[2021-10-01 18:50] Gawson commented on #103
Hi @amerkoleci ,
First of all great job with bringing working DX wrapper after SharpDX death.
I've been watching this thread and discussion about Media Foundation support in Vortice. I know that this is beta but I'm curious if I'm doing something wrong or IAsyncCallback is not usable in current state? I have no clue how to implement such callback even after digging into MS docs and my own old samp

[2021-10-01 22:06] h1cks commented on #103
@Gawson the wrapper for vortice is possibly not working.  Due to the size of the interface, there is most likely some issues.  Especially in mediafoundation which I have been working on.  I am still testing AsyncCallback at the moment.

I have been working on a sample from the MS code, the link to my mediafoundation sample is here
https://github.com/h1cks/Vortice.Windows

You should see a hellomed

[2021-10-04 07:23] amerkoleci commented on #103
@h1cks good job, keep me updated, if you have any PR just send and I'll review.
@Gawson Same, if you have trouble ping me with specific question.

[2021-10-04 10:30] h1cks commented on #103
@amerkoleci  not had a chance in the last week to do any more progress, work in RL is basically the major item.  Im going to look at some changes to the code gen and structure. I still do not understand how to get the async working and I havent had a chance to test fully.

[2021-10-04 12:16] Gawson commented on #103
@h1cks I'll check your repo. In the meantime I'm working on C++ code to make IAsynCallback implementation work, next I'll try to port it to Vortice. If I have any working code I'll share it. The tricky part is our project is in .net5 but with C++/WinRT runtime component connected with CsWinRT for some native helpers not present in any C# lib (Win2D <> Direct2D1 interop) so making custom com object

[2021-10-05 18:04] Gawson commented on #103
@h1cks I have working callback example in C++/WinRT. It appears that WinRT greatly simplifies implementing COM interfaces.
Most of the COM heavy lifting is done by `implements<>` template. Rest of unimplemented pure virtuals may be generated from IMFAsyncCallback - only crucial methods will be generated without QueryInterface, AddRef and rest of the COM specific ones.

`CAsyncCallback.h`
[code]
`C

[2021-10-09 23:56] h1cks commented on #103
I sadly will be a while before I have time to continue to work on the code.  Feel free to do a code submission for the GUIDs.  My work, RL and other pieces have taken me away from working on this.  I literally have no spare time atm.

[2021-10-10 07:29] amerkoleci commented on #103
Please write me down an example your would like to port from C++ and guids that are missing and I will add them starting from tomorrow.

[2021-10-10 09:41] h1cks commented on #103
@amerkoleci  apologies I have not been on much, but my actual real life job has taken most of my time at the moment.

[2021-10-10 09:44] amerkoleci commented on #103
Don't worry, we're doing our best :)

[2021-10-10 09:50] amerkoleci commented on #103
I will close this issues as it's getting to much big, let's open issues with given sub topic/request

[2021-10-13 09:46] amerkoleci commented on #185
Wait for CI build and grab packages from here: https://github.com/amerkoleci?tab=packages

Version beta3

[2021-10-13 10:26] SuRGeoNix commented on #185
Still not available. I will also have to add GitHub packages authentication. Wouldn't be easier to send me an email the updated package (DXGI ?)

[2021-10-13 13:22] SuRGeoNix commented on #185
OK, I've compiled it from my PC now and still the same problem.

[code]

[2021-11-01 11:11] amerkoleci opened #201 "ID3D12Device::GetAdapterLuid crash"
ID3D12Device::GetAdapterLuid crashes with memory corruption.

[2021-11-02 08:02] amerkoleci commented on #201
I managed to workaround it with commit https://github.com/amerkoleci/Vortice.Windows/commit/5784cfcfc34688aa4840a477b258bc780df77566

Probably proper implementation is needed on SharpGenTools side, @andrew-boyarshin

[2021-11-02 08:02] #201 closed

[2021-11-02 21:12] h1cks opened #203 "CSSetUnorderedAccessViews - Possible incorrect parameter passing."
Will submit a pull request.

As per https://docs.microsoft.com/en-us/windows/win32/api/d3d11/nf-d3d11-id3d11devicecontext-cssetunorderedaccessviews

The accessviews and offsets need to be passed in an array.  At the moment from what I understand, they arent.

I will create a pull request to:

* Make the interfaces protected.
* Create Wrapper functions to handle the additional field handling
* Ensu

[2021-11-02 21:20] amerkoleci commented on #203
You linked wrong link, I'm doing something similar here: https://github.com/amerkoleci/Vortice.Windows/blob/main/src/Vortice.Direct3D11/ID3D11DeviceContext.cs#L119

[2021-11-02 21:35] h1cks commented on #203
No, theser are the CSUnsetUnorderedAccessViews, not the output merger.

Updated link, my bad.

[2021-11-02 21:37] h1cks commented on #203
Checked CSSetUnorderedAccessView and its ok as it marshals the parameters within the generated code.

For CSUnsetUnorderedAccessViews it doesnt martial at the moment.

I've pushed my code to my branch, includes test code, so you might just want to copy my code if that's ok

https://github.com/h1cks/Vortice.Windows/commit/c7e4bd8820420b88c9e227770d01ebfb7a9870cc

[2021-11-02 22:07] amerkoleci commented on #203
Ok thanks, tomorrow I will add the missing bits

[2021-11-03 08:27] amerkoleci commented on #203
Commit https://github.com/amerkoleci/Vortice.Windows/commit/96e70f246b4bdda7a3ea845cb14f3824adbe591c fixes this

[2021-11-03 08:27] #203 closed

[2021-11-08 03:09] h1cks opened #205 "Beta2 - Library resolution issue."
Just heads up that the beta1 from November 2nd is showing the following error on compile.

E:\Development\Pacific Strafe\Pacific Strafe\Code\Core Classes\Containers\Sound\SoundSourceBuffer.cs(28,35,28,45): error CS0433: The type 'WaveFormat' exists in both 'Vortice.DirectX, Version=2.1.0.0, Culture=neutral, PublicKeyToken=5431ec61a7e925da' and 'Vortice.Multimedia, Version=2.0.0.0, Culture=neutral,

[2021-11-08 03:16] h1cks commented on #205
@amerkoleci  Closing, found that multimedia is no longer required.

[2021-11-08 03:16] #205 closed

[2021-11-11 07:44] h1cks opened #206 "UnorderedAccessviews tested - working"
Just a heads up that the changes you made in beta 4 are working for both

CSSetUnorderedAccessView and CSSetUnorderedAccessViews.  Also confirm that Texture3d is working also.

![image](https://user-images.githubusercontent.com/17155885/141258324-71fc87ac-de3f-4915-aa5a-6f3d32b5ebe1.png)

I have some other issue around my buffers with combining them, but that's my issue.  Feel free to close, but c

[2021-11-11 07:46] amerkoleci commented on #206
Maybe next time open discussion :D Good job.

[2021-11-11 07:46] #206 closed

[2021-11-11 07:46] h1cks commented on #206
should look like this but my perlin noise is not working correctly atm.

![image](https://user-images.githubusercontent.com/17155885/141258640-48221a7b-5543-48cb-a7d2-55782b2b7663.png)

[2021-11-11 07:47] h1cks commented on #206
thought this would be faster to bring to your attention, as your library is getting closer to maturity!  Good work!

[2021-11-18 12:25] SuRGeoNix opened #207 "D3DCompiler FileNotFoundException?"
Hi @amerkoleci, can you have a look at the below error and let me know if you have any clue what is going on.. Thanks!

[code]

Source Code:
[code]

It doesn't happen on all systems... a user come up with this on Windows server 2012 R2

Just a thought, is it possible that this comes out because of a missing latest/updated Win or .NET 5.0 SDK on the target machine?

[2021-11-23 11:35] SuRGeoNix commented on #207
Closing this one as it might occurred because of another issue. However, I am still interesting if you have any idea how it came up with that error.

[2021-11-23 11:35] #207 closed

[2021-11-28 08:41] RawRCoder opened #209 "ResourceAliasingBarrier does not accept nulls"
Code: https://github.com/amerkoleci/Vortice.Windows/blob/f658e9b520c73a63965d5dc85c209985e7b6a761/src/Vortice.Direct3D12/ResourceAliasingBarrier.cs#L13-L14

Docs: https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ns-d3d12-d3d12_resource_aliasing_barrier

Docs claim, that one can use aliasing barrier with one or both resources missing (NULLs). Right now I have to use a somewhat wacky approac

[2021-11-29 07:45] amerkoleci commented on #209
This has been fixed with commit: https://github.com/amerkoleci/Vortice.Windows/commit/943c9297b692ca6f12306fe4a94c0e1b95dc0151 beta5 will contain the fix.

[2021-11-29 07:45] #209 closed

[2021-12-06 08:50] amerkoleci commented on #185
Version 2.1.0-beta6 from nuget should fix this issue.

[2021-12-09 14:42] #185 closed

[2021-12-11 04:26] BitCrusader opened #210 "D3D11CreateDeviceAndSwapChain() deliberately removed?"
Line 842 in Mappings.xml. Just curious as to why this is done - obviously you don't _need_ to use that helper, but it makes it harder for a beginner to learn off of existing documentation.

[2021-12-11 08:33] amerkoleci commented on #210
For none specific reason, feel free to submit PR and I'll merge it :)

[2021-12-11 16:27] #210 closed

[2021-12-13 03:23] curin opened #211 "Missing Direct3D12 Helper functions from d3dx12.h"
There are a few helper functions like UpdateSubresources from d3dx12.h which seem to be missing from the bindings.

[2021-12-13 18:57] SuRGeoNix commented on #185
Hi @amerkoleci, just update and re-tested. Same results for PointerSize (DedicatedVideoMemory) on x86.

[2021-12-27 06:59] RolandKoenig opened #212 "One overload of D3D11.DeviceContext.OMSetRenderTargets does no null checkings"
The method D3D11.DeviceContext.OMSetRenderTargets(int renderTargetViewsCount, ID3D11RenderTargetView[] renderTargetViews, ID3D11DepthStencilView? depthStencilView = default) performs null checks on each index of renderTargetViews parameter. The overload OMSetRenderTargets(ID3D11RenderTargetView[] renderTargetViews, ID3D11DepthStencilView? depthStencilView = default) does not.

I encountered this p

[2021-12-27 08:26] #212 closed

[2021-12-29 13:02] amerkoleci commented on #211
Feel free to submit PR and I'll gladly merge it.

Thanks!

[2021-12-30 07:48] SuRGeoNix opened #213 "[Question] IMMNotificationClient interface?"
Hi @amerkoleci, I'm trying to replace NAudio with Vortice, so far so good! I'm having some trouble to create a IMMNotificationClient to handle the events (confused with that IntPtr in the constructor). What am I missing?

[2021-12-30 07:52] amerkoleci commented on #213
Can you show me how you create IMMNotificationClient using NAudio? So I can add the missini API.

Thanks

[2021-12-30 07:54] SuRGeoNix commented on #213
I just implement the interface here and I'm good to go

https://github.com/naudio/NAudio/blob/fb35ce8367f30b8bc5ea84e7d2529e172cf4c381/NAudio.Wasapi/CoreAudioApi/Interfaces/IMMNotificationClient.cs

Here is my code https://github.com/SuRGeoNix/Flyleaf/blob/master/FlyleafLib/AudioMaster.cs

[2021-12-30 08:18] amerkoleci commented on #213
I see, thanks!

Commit https://github.com/amerkoleci/Vortice.Windows/commit/8d9be436e1a2b8bedf051f721ea6312dbc301964 maps IMMNotificationClient  as callback interface

[2021-12-30 08:23] SuRGeoNix commented on #213
Nice, I will try to build it and tested

[2021-12-30 08:48] SuRGeoNix commented on #213
Currently failed but I'm still looking...

[code]

[2021-12-30 09:07] SuRGeoNix commented on #213
This line complains

[code]

[2021-12-30 09:32] amerkoleci commented on #213
You have to include CallbackBase as well, similar to this example: https://github.com/amerkoleci/Vortice.Windows/blob/main/src/samples/HelloDirect3D12/ShaderIncludeHandler.cs#L13

[2021-12-30 09:42] SuRGeoNix commented on #213
It would be great if we can avoid this somehow tho!

[2021-12-30 09:56] SuRGeoNix commented on #213
It seems that it misses the AudioSessions as well?

[2021-12-30 10:37] SuRGeoNix opened #214 "XAudio2.CreateMasteringVoice not deviceId?"
Hi @amerkoleci, is it possible to changed the audio endpoint device to xaudio2?

[code]

[2021-12-30 11:04] SuRGeoNix commented on #214
If I am not missing something I've added this and testing it

[code]

[2021-12-30 11:14] amerkoleci commented on #214
https://github.com/amerkoleci/Vortice.Windows/commit/1290df003433e80d0bcca34d7a01fff95636e16a fixes this, thanks!

[2021-12-30 11:14] #214 closed

[2021-12-30 12:02] #213 closed

[2021-12-30 12:05] SuRGeoNix commented on #214
Nice, I can change devices just fine now.
I managed to get rid of NAudio that it was causing a lot of issues! Low latency, better performance, less memory.

Hope you will have soon new releases so I can include them!

Thanks

[2021-12-30 16:09] amerkoleci commented on #214
2.1.0-beta10 is being compiled, wait for nuget release and update!

[2022-01-01 20:46] schillc opened #215 "Missing HRESULT for IDXGIOutputDuplication::AcquireNextFrame"
First of all thanks for being the spiritual successor of SharpDX and in many cases even better.

When porting one of my projects from SharpDX to Vortice I noticed that there is no HRESULT return value for [IDXGIOutputDuplication::AcquireNextFrame](https://docs.microsoft.com/en-us/windows/win32/api/dxgi1_2/nf-dxgi1_2-idxgioutputduplication-acquirenextframe) and instead it returns void

SharpDX impl

[2022-01-02 22:00] schillc opened #216 "Memory Leak ID2D1GeometrySink"
When porting SharpDX code to Vortice I noticed that the ID2D1GeometrySink interface is missing a Dispose method and therefore leaks memory.

`    var innerGeo = _context.Device.Factory.CreatePathGeometry(); // ID2D1DeviceContext`
`    var innerSink = innerGeo.Open();`
`    innerGeo.Dispose();`
`    innerSink.Dispose(); // <- missing`

The [documentation ](https://docs.microsoft.com/en-us/windows/w

[2022-01-03 09:33] amerkoleci commented on #215
Thanks! This has been fixed with https://github.com/amerkoleci/Vortice.Windows/commit/2117c21f7bca8ff05529a19c87d690a4d37478b4

[2022-01-03 09:33] #215 closed

[2022-01-03 09:49] amerkoleci commented on #216
You can call Release as ID2D1GeometrySink  subclass IUnknown, otherwise I could make ID2D1GeometrySinkNative public so you can call Dispose on it.

[2022-01-03 14:28] schillc commented on #215
Thanks, works great!

[2022-01-03 14:30] schillc commented on #216
That would be much appreciated

[2022-01-03 16:58] amerkoleci commented on #216
Commit https://github.com/amerkoleci/Vortice.Windows/commit/afbedaa8bdcffc21602f9558d05fea5379c189a9 fixes this!

[2022-01-03 16:58] #216 closed

[2022-01-05 19:34] SuRGeoNix opened #217 "D3D11CreateDevice with context Memory Leak (VRAM)"
Hi @amerkoleci and happy new year!

I come up with this one that you might want to check:-

[code]

And did some test with task manager and the dedicated GPU memory column in details Tab:

[code]

Update:
I solved my memory leak issue but I think it was not related it with the above. I just used FlipDiscard instead of Discard. Might FFmpeg messed with my Device not sure yet.

[2022-01-07 06:49] SuRGeoNix opened #218 "XAudio2Create compatibility issue?"
Hi @amerkoleci,

I had a [user](https://github.com/SuRGeoNix/Flyleaf/pull/109) that had an issue with XAudio2 on Windows 10 (1809).  Any ideas why ProcessorSpecifier.UseDefaultProcessor while ProcessorSpecifier.DefaultProcessor works fine? It seems - by looking at the [header file](https://github.com/amerkoleci/Vortice.Windows/blob/main/src/native/include/xaudio2redist.h) - like a compatibility is

[2022-01-07 07:55] amerkoleci commented on #218
At the begining I had xaudio2 redist (from nuget) as part of Vortice.XAudio2, that caused big binary size and I removed, I would probably move back to XAudio2 SDK headers, meanwhile send PR with the FIX if you want or wait for me to go back to XAudio2 headers from Windows 10 SDK.

[2022-01-07 07:55] amerkoleci commented on #217
Can you confirm if this is still a thing?

[2022-01-07 08:37] amerkoleci commented on #218
Commit https://github.com/amerkoleci/Vortice.Windows/commit/d2781f4405b86419095fb90802f384ce443bd40b switch to Windows SDK, can you try and tell me if it works for you?

[2022-01-07 08:43] SuRGeoNix commented on #218
Unfortunately, it does not happen on my system, I cannot easily reproduce it. @MycroBeat might be able though. I'm not familiar with XAudio2 at all so I cannot help you much either :(

[2022-01-07 08:44] SuRGeoNix commented on #217
I've tested with the latest build, did you have any changes? Does it happen at your system?

[2022-01-07 09:35] SuRGeoNix opened #219 "ID3D11VideoProcessorEnumerator::GetVideoProcessorCaps is missing"
[msdn](https://docs.microsoft.com/en-us/windows/win32/api/d3d11/nf-d3d11-id3d11videoprocessorenumerator-getvideoprocessorcaps)

[2022-01-07 09:43] amerkoleci commented on #219
ID3D11VideoProcessorEnumerator.VideoProcessorCaps is property

[2022-01-07 09:44] #219 closed

[2022-01-07 11:52] MycroBeat commented on #218
@SuRGeoNix If you want to reproduce, try to install a Windows 10 1809 on a virtual machine. Should detect the bug.

@amerkoleci Hi. I'm sorry, but I'm not so familiar with c ++ or git. Can you release an alpha/beta build to nuget to test? Or something to test and solve this problem?

[2022-01-07 11:56] SuRGeoNix commented on #218
@MycroBeat yes probably wait for a beta release and just update nuget packages at my solution to test it. No time currently to install it on vm :(

[2022-01-07 13:47] amerkoleci commented on #218
Wait for CI build and version 2.1.1-beta2 should appear on nuget, thanks!

[2022-01-07 14:45] schillc commented on #216
Thanks, just updated to 2.1.1-beta2 and can now dispose ID2D1GeometrySink like this:
` ((ID2D1GeometrySinkNative) innerSink).Dispose(); `

Doesn't look as pretty as a Dispose on ID2D1GeometrySink, but I guess that's not possible because only ID2D1GeometrySinkNative implements IDisposable.

[code]

[2022-01-07 21:54] MycroBeat commented on #218
After upgrading to 2.1.1-beta2, audio seems to work on Windows 10 1809. I also test the 2.1.1-beta2 release on Windows 10 1607, Windows 10 1507 and the problem seems to be fixed.

[2022-01-07 22:07] amerkoleci commented on #218
Nice, thanks!

[2022-01-07 22:07] #218 closed

[2022-01-10 07:24] SuRGeoNix opened #220 "D3D11 Video Processor minor suggestions"
Hi @amerkoleci, I was messing around with video processor today and I kept some notes that you might want to check.

1) Missing VideoProcessorProcessorCaps Enum [d3d11.h]( https://docs.microsoft.com/en-us/windows/win32/api/d3d11/ne-d3d11-d3d11_video_processor_processor_caps)

[code]

2) Typos on VideoProcessorFilter / VideoProcessorFilterCaps with SaturateUration / StereoAdjacencyUstment

3) Possi

[2022-01-10 07:52] amerkoleci commented on #220
1) The enum is present, VideoProcessorProcessorCaps:
[code]

2: Ok will FIX
3: Will dig.

Please, if you can, submit PR in the future :)

[2022-01-10 08:07] amerkoleci commented on #220
Just side request, would you be able to submit D3D11 Video example maybe?
I'm collecting samples here: https://github.com/amerkoleci/Vortice.Windows.Samples

Thanks

[2022-01-10 08:53] SuRGeoNix commented on #220
For the samples yes, let me know if you want something specific and I will try to make a sample. Now generally, I try to avoid PRs as I'm not familiar with your design/implementation and I don't want to mess it up :)

[2022-01-10 08:54] amerkoleci commented on #220
Don't worry, commit https://github.com/amerkoleci/Vortice.Windows/commit/6d263942736abf74b2d1b27c49bd4377b95a24d5 fixes your issues, you can use it as reference for your next PR in case :)

[2022-01-10 08:54] #220 closed

[2022-01-10 08:58] SuRGeoNix commented on #220
No idea why I couldn't find the VideoProcessorProcessorCaps earlier. Another type in there InverseErseTelecine => InverseTelecine.

Thanks!

[2022-01-15 13:01] SuRGeoNix commented on #217
Just to let you know that I've retested and still happens, it seems that the code behind it keeps a reference of the context.
I solved my issue by using the other method without the context but I think it is an important issue and needs to be resolved.

[2022-01-18 22:59] amerkoleci commented on #211
Helper has landed

[2022-01-18 22:59] #211 closed

[2022-01-19 16:54] amerkoleci commented on #217
Can you try with 2.1.1-beta5 release?

[2022-01-19 17:29] SuRGeoNix commented on #217
Looks ok now

[2022-01-19 17:29] #217 closed

[2022-01-23 10:12] jhdevelp opened #226 "Exception of XAudio2"
Hello,
I describe my problem allready here.
https://github.com/EvergineTeam/Feedback/issues/113

I have also tried project - Vortice.Windows.Samples-main  but result is same.

Please, would you reccommed me some solution ?

Thank you in advance.

[2022-01-23 13:12] amerkoleci commented on #226
I need to know which version of Vortice.XAudio you're using? There where recent changes with XAudio2 bindings

[2022-01-25 07:06] jhdevelp commented on #226
![xaudio2_ver](https://user-images.githubusercontent.com/98220167/150927820-d47e9317-f48f-439d-abad-9e5bcccfd246.png)

[2022-01-25 07:43] amerkoleci commented on #226
Still I don't see Vortice.XAudio2 version there

[2022-01-25 14:32] jhdevelp commented on #226
I'am so sorry. Now it's correct.

Version - 2.1.0-beta7

![xaudio2_ver](https://user-images.githubusercontent.com/98220167/150996028-3b67d68e-3460-406d-adfa-ad8d39990e37.png)

[2022-01-25 15:31] amerkoleci commented on #226
This was known bug and fixed with one of the latest beta release, Evergine probably need to target 2.1.1-beta9 or you can reference [2.1.1-beta9](https://www.nuget.org/packages/Vortice.XAudio2/2.1.1-beta9)

[2022-01-25 15:31] #226 closed

[2022-01-31 21:48] Steph55 opened #228 "IDXGIDevice1::SetMaximumFrameLatency() missing."
Thank you for your nice library! One detail:

Maybe I don't know where to look, but IDXGIDevice1::SetMaximumFrameLatency() seems to be missing from Vortice...

And this is important for multi-swapchains for a single device.

[2022-02-01 11:25] amerkoleci commented on #228
Hi,
Its present, but actually its property, so you need to call IDXGIDevice1.MaximumFrameLatency = value;
Will change it to method in next release.

Thanks!

[2022-02-01 11:48] amerkoleci commented on #228
Fixed with commit: https://github.com/amerkoleci/Vortice.Windows/commit/4f13421941cd59f21d77c0dcf9aad2a39754fe5d

[2022-02-01 11:48] #228 closed

[2022-02-01 14:21] Steph55 commented on #228
Hi, a property makes a lot of sense too, but we just have to be aware of it!

Thanks a lot!

Le mar. 1 févr. 2022 à 06:26, Amer Koleci ***@***.***> a
écrit :

[2022-02-05 11:36] mrcoffeeee opened #229 "CreateAudioReverb() causes compiler error CS4011 with current XAudio2 package"
Its the xaudio guy again :)

With the current beta of Vortice.XAudio2 (2.1.1-beta9) the "CreateAudioReverb()" function doesen´t work anymore and give me an error on compiling. It worked well till 2.1.0 thats why I maybe just found out now after updating. My code is as followed:

[code]

As mentioned above this works fine till Vortice.XAudio2 2.1.0. The given error is "CS4011 The type arguments of

[2022-02-13 10:49] feliwir opened #230 "[Missing signature] Can't pass flags to "Vortice.D3DCompiler.Compiler.Compile""
It should be possible to pass `Vortice.D3DCompiler.ShaderFlags`

[2022-02-14 08:26] #230 closed

[2022-03-01 18:28] deccer opened #235 "HelloDirect3D11 ScreenCapture"
Hi :)

I am using Vortice.Windows obviously and tried adding capture from backbuffer and couldnt get it to work, the captured image keeps looking messed up (as if the pitch is wrong or something) then I checked the examples of this repo and saw that you also capture the backbuffer in the HelloDirect3D11 example, but funny enough, it also produces an odd output.

I am not sure whats wrong, tried va

[2022-03-01 18:36] amerkoleci commented on #235
Hi,
I saw that issue and not sure what breaked the api, will fix it as soon as I understand what caused the issue

[2022-03-01 21:05] deccer commented on #235
not sure if it helps, but using plain GDI Bitmap works tho. also the staging texture looks alright in RenderDoc.

[code]

[2022-03-01 21:08] amerkoleci commented on #235
Yeah, issue is on wic/d2d1 side

[2022-03-02 08:52] amerkoleci commented on #235
Thanks for bringing this, commit contains the fix: https://github.com/amerkoleci/Vortice.Windows/commit/15435d246de9056a35bd40884867f8a4e01ce4dc

Package 2.1.1-beta12 contains the fix.

[2022-03-02 08:52] #235 closed

[2022-03-02 14:50] iloxmn opened #236 "[Help] Is there an easy way to convert Vortice.DirectWrite.FontWeight Windows.UI.Text.FontWeight"
Just found out built in fontweight is a struct. Do I need to use a switch to convert this or there's something more simple?

[2022-03-02 14:57] amerkoleci commented on #236
Please use [discussion](https://github.com/amerkoleci/Vortice.Windows/discussions) for this kind of question, anyway the answer is no but it isn't difficult to add that method by yourself, just cast the enum value to WinUI FontWeight value and you're good.

[2022-03-02 14:57] #236 closed

[2022-03-10 11:50] gerhard17 opened #237 "Vortice.Mathematics.Point not found"
I have installed the latest nuget package Vortice.Direct2D1 2.1.1-beta9 which references Vortice.Mathematics 1.4.7

ID2D1RenderTarget.DrawLine(...) uses Vortice.Mathematics.Point as an argument type; but this type is not defined in Vortice.Mathematics 1.4.7

Is this Point type defined elsewhere in another assembly? Do I miss something or is this a bug in Vortice?

Regards, Gerhard

[2022-03-10 11:54] amerkoleci commented on #237
Hi,
Nuget somehow orders packages in wrong order, you should use this one **2.1.1-beta12:**

https://www.nuget.org/packages/Vortice.Direct2D1/2.1.1-beta12

[2022-03-10 12:02] gerhard17 commented on #237
Oh, I overlooked that. It works now.
Thank you!

Regards, Gerhard

[2022-03-10 12:02] #237 closed

[2022-03-10 22:53] gerhard17 opened #238 "ID2D1DeviceContext.CreateImageBrush() ref and Nullable struct arguments"
In Vortice.D2D1 v2.1.2 / .net6.0 exists an unsymmetry in the parameters of the `ID2D1DeviceContext.CreateImageBrush()` method

[code]
which has the C syntax

[code]

I think the [in, ref] & syntax is used due to performance reasons. The structs can be large, so passing by reference may be of value.

**Question:**

In C# the  imageBrushProperties are passed by ref vs. the brushProperties are passed

[2022-03-10 23:20] gerhard17 commented on #238
Same ref argument code gen in

[code]

[code]

[2022-03-11 08:00] sdcb opened #239 "Sponsor access to Vortice.Windows.Examples?"
Can you invite me to: https://github.com/amerkoleci/Vortice.Windows.Samples

[2022-03-11 08:01] amerkoleci commented on #239
Done!

[2022-03-11 08:01] #239 closed

[2022-03-11 08:59] amerkoleci commented on #238
This commit https://github.com/amerkoleci/Vortice.Windows/commit/4cf53b63f3900c8b98840028e958b07fc1aa6749 fixes those issues.

[2022-03-11 08:59] #238 closed

[2022-03-11 09:32] gerhard17 commented on #238
All IWICImageEncoder methods have also a ref WICImageParameters imageParameters argument, which should be 'in'

[2022-03-15 09:17] emako opened #240 "[question] What's the difference with sharpdx?"
What's the difference with sharpdx?
Can Vortice provide the same 2D interface as sharpdx?
Can WPF be supported?
Thanks.

[2022-03-15 09:22] amerkoleci commented on #240
Please use https://github.com/amerkoleci/Vortice.Windows/discussions for this kind of questions.

Anyway yes, it provides bindings for all stuff that SharpDX provided and more.

feel free to ask specific questions under discussions.

[2022-03-15 09:22] #240 closed

[2022-03-21 12:04] miyu opened #242 "DWrite ColorGlyphRun.GlyphRunDescription is an intptr (fix inside)"
I patched the DirectWrite support to (correctly?) marshal ColorGlyphRun.GlyphRunDescription at https://github.com/miyu/Vortice.Windows/commit/973dde97da97dff43e91099118acca7063199360

Prior, GlyphRunDescription was an IntPtr, which made it unusable from managed `IDWriteTextRenderer` implementations. Is this the correct direction for a fix PR? Or is there a simpler approach? (feel free to do this y

[2022-03-21 12:24] miyu opened #243 "IDWriteTextRenderer.DrawGlyphRun doesn't round-trip IDWriteTextLayout.SetDrawingEffect input"
`IDWriteTextRenderer.DrawGlyphRun` has parameter `IUnknown clientDrawingEffect` that can be set via `IDWriteTextLayout.SetDrawingEffect(IUnknown drawingEffect, TextRange textRange)`.  This is useful for specifying custom effects on ranges of text (e.g. coloring, misc text effects)

An example managed drawing effect follows:

[code]

However, `IDWriteTextRenderer.DrawGlyphRun` does not round-trip t

[2022-03-21 12:25] miyu commented on #243
@amerkoleci if either of these solutions sound desirable, I'd happily volunteer to further investigate and submit a PR. Let me know.

[2022-03-21 13:12] amerkoleci commented on #242
Thanks!

This commit handles the marshal scenario: https://github.com/amerkoleci/Vortice.Windows/commit/0632d0055ececd1bab593032d7eec48f8cb0279b

[2022-03-21 13:12] #242 closed

[2022-03-21 13:20] amerkoleci commented on #243
Doesnt something like this work?

https://github.com/amerkoleci/Vortice.Windows/blob/main/src/samples/AdvancedTextRenderingApp/Program.cs#L30

[2022-03-22 08:45] miyu commented on #243
I don't believe so. `brush = comObject.QueryInterfaceOrNull<ID2D1SolidColorBrush>();` works because ID2D1SolidColorBrush is a native intptr-backed ComObject, so QueryInterfaceOrNull can meaningfully Activator.CreateInstance(typeof(ID2D1SolidColorBrush), nativeptr).

My custom drawing effect is not a native intptr-backed ComObject (note CallbackBase inherits from DisposeBase and ICallbackable), but

[2022-03-22 08:52] miyu commented on #243
Apologies for the lengthy response, mostly documenting my work in case anyone tries to follow.

I'm unsure whether SharpGen supports this specific use-case. I'm still looking into that. Hopefully I'm either doing something wrong or we can tweak Mappings.xml to support this use case.

[2022-03-22 09:59] amerkoleci commented on #243
Hi,
I managed somehow to workaround it using Marshal.GetIUnknownForObject, but .NET6 is giving me problem during runtime:

Built-in COM has been disabled via a feature switch. See https://aka.ms/dotnet-illink/com for more information.'

So, I'm not sure how to workaround this issue!

[2022-03-22 10:30] miyu commented on #243
I suspect `Marshal.GetIUnknownForObject` is actually creating a [COM Callable Wrapper (CCW)](https://docs.microsoft.com/en-us/dotnet/standard/native-interop/com-callable-wrapper) for the underlying C# object (perhaps holding onto a gchandle), rather than somehow using the C# object itself as an IUnknown. I haven't verified the runtime code, but if this is true, the IUnknown received is of that CCW

[2022-03-22 10:41] amerkoleci commented on #243
Whatever works, I tried your approach but the issue with GetIUnknownForObject call, we have to avoid that call and should probably work, need to try something else!

[2022-03-28 09:22] miyu commented on #243
Odd, what's your `dotnet --version`? I'm on 6.0.201 and don't encounter that issue; Marshal.GetIUnknownForObject works just fine here.